{{#if haveStarredRequests}}
    <table class="table table-striped">
        <thead>
            <tr>
                <th data-sortable="false">{{! Star column }}</th>
                <th data-sort-attribute="request.id">Request</th>
                <th class="hidden-xs" data-sort-attribute="requestDeployState.activeDeploy.timestamp">Requested</th>
                <th class="visible-lg visible-xl" data-sort-attribute="requestDeployState.activeDeploy.user">Deploy user</th>
                <th class="visible-lg visible-xl" data-sort-attribute="request.instances">Instances</th>
            </tr>
        </thead>
        <tbody>
{{/if}}
    {{#each starredRequests}}
        <tr data-request-id="{{ request.id }}">
            <td>
                <a class="star" data-action="unstar" data-starred="true">
                    <span class="glyphicon glyphicon-star"></span>
                </a>
            </td>
            <td>
                <a href="{{appRoot}}/request/{{ request.id }}">
                    {{ request.id }}
                </a>
            </td>
            <td class="hidden-xs" data-value="{{ requestDeployState.activeDeploy.timestamp }}">
                <span title="{{ requestDeployState.activeDeploy.timestamp }}">
                    {{timestampFromNow requestDeployState.activeDeploy.timestamp}}
                </span>
            </td>
            <td class="visible-lg visible-xl">
                {{usernameFromEmail requestDeployState.activeDeploy.user}}
            </td>
            <td class="visible-lg visible-xl">
                {{ request.instances }}
            </td>
        </tr>
    {{/each}}

    {{#if haveStarredRequests}}
    </tbody>
</table>
{{else}}
<div class="empty-table-message"><p>No starred requests</p></div>   
{{/if}}



