<div class="well well-sm artifact" data-type="embedded">
    <h5>Embedded artifact</h5>
    <div class="remove-button"></div>

    <div class="form-group required">
        <label for="name-{{ timestamp }}">Name</label>
        <input type="text" id="name-{{ timestamp }}" class='name form-control'>
    </div>

    <div class="form-group required">
        <label for="filename-{{ timestamp }}">File name</label>
        <input type="text" id="filename-{{ timestamp }}" class='filename form-control'>
    </div>

    <div class="form-group">
        <label for="md5-{{ timestamp }}">MD5 checksum</label>
        <input type="text" id="md5-{{ timestamp }}" class='md5 form-control'>
    </div>

    <div class="form-group">
        <label for="content-{{ timestamp }}">Content</label>
        <textarea type="text" id="content-{{ timestamp }}" class='content form-control'></textarea>
    </div>
</div>
