<div class="well well-sm artifact" data-type="s3">
    <h5>S3 artifact</h5>
    <div class="remove-button"></div>

    <div class="form-group required">
        <label for="name-{{ timestamp }}">Name</label>
        <input type="text" id="name-{{ timestamp }}" class='name form-control'>
    </div>

    <div class="form-group required">
        <label for="filename-{{ timestamp }}">File name</label>
        <input type="text" id="filename-{{ timestamp }}" class='filename form-control'>
    </div>

    <div class="form-group">
        <label for="md5-{{ timestamp }}">MD5 checksum</label>
        <input type="text" id="md5-{{ timestamp }}" class='md5 form-control'>
    </div>

    <div class="form-group">
        <label for="file-size-{{ timestamp }}">File size</label>
        <input type="text" id="file-size-{{ timestamp }}" class='file-size form-control'>
    </div>

    <div class="form-group required">
        <label for="bucket-{{ timestamp }}">S3 bucket</label>
        <input type="text" id="bucket-{{ timestamp }}" class='bucket form-control'>
    </div>

    <div class="form-group required">
        <label for="object-key-{{ timestamp }}">S3 object key</label>
        <input type="text" id="object-key-{{ timestamp }}" class='object-key form-control'>
    </div>
</div>
