<div class="page-header">
    <h1>Active slaves</h1>
</div>
{{#if data.length}}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Rack</th>
                <th>Host</th>
                <th class="hidden-xs">Uptime</th>
                <th data-sortable="false"></th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
                <tr>
                    <td>
                        <a href="{{appRoot}}/tasks/active/{{ host }}">{{ id }}</a>
                    </td>
                    <td>{{ rackId }}</td>
                    <td>{{ host }}</td>
                    <td class="hidden-xs" data-value="{{ uptime }}">{{ uptimeHuman }}</td>
                    <td class="actions-column">
                        <a data-slave-id="{{ id }}" data-action="decommission">
                            <span class="glyphicon glyphicon-remove" title="Decommission"></span>
                        </a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <div class="empty-table-message"><p>No active slaves</p></div>
{{/if}}