<div class="page-header">
    <h1>Dead slaves</h1>
</div>
{{#if data.length}}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Rack</th>
                <th>Host</th>
                <th class="hidden-xs">Died</th>
                <th class="hidden-xs">Uptime</th>
                <th data-sortable="false"></th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ rackId }}</td>
                    <td>{{ host }}</td>
                    <td class="hidden-xs" data-value="{{ deadAt }}">
                        {{timestampFormatted deadAt}}
                    </td>
                    <td class="hidden-xs" data-value="{{ uptime }}">
                        {{timestampDuration uptime}}
                    </td>
                    <td class="actions-column">
                        <a data-slave-id="{{ id }}" data-action="remove" data-state="{{ state }}">
                             <span class="glyphicon glyphicon-trash" title="Remove"></span>
                        </a>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <div class="empty-table-message"><p>No dead slaves</p></div>
{{/if}}