{{#if data.length}}
    <table class="table table-striped sortable-theme-bootstrap" data-sortable>
        <thead>
            <tr>
                <th>ID</th>
                <th>State</th>
                <th>Since</th>
                <th>Rack</th>
                <th>Host</th>
                <th class="hidden-xs">Uptime</th>
                {{#ifInSubFilter data.[0].state 'DECOMMISSIONING,DECOMMISSIONED,STARTING_DECOMMISSION'}}
                    <th>Decommissioned By</th>
                {{/ifInSubFilter}}
                {{#ifInSubFilter data.[0].state 'FROZEN'}}
                    <th>Frozen By</th>
                {{/ifInSubFilter}}
                {{#ifInSubFilter data.[0].state 'ACTIVE'}}
                    <th>Activated By</th>
                {{/ifInSubFilter}}
                <th data-sortable="false">Message</th>
                <th data-sortable="false"></th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
                <tr>
                    <td>
                        <a href="{{appRoot}}/tasks/active/all/{{ host }}">{{ id }}</a>
                    </td>
                    <td>{{humanizeText state }}</td>
                    <td>{{timestampFormatted currentState.timestamp }}</td>
                    <td>{{ rackId }}</td>
                    <td>{{ host }}</td>
                    <td class="hidden-xs" data-value="{{ uptime }}">
                        {{timestampDuration uptime}}
                    </td>
                    {{#ifInSubFilter state 'ACTIVE,DECOMMISSIONING,DECOMMISSIONED,STARTING_DECOMMISSION,FROZEN'}}
                        <td>{{ user }}</td>
                    {{/ifInSubFilter}}
                    <td>{{ currentState.message }}</td>
                    <td class="actions-column">
                        {{#ifInSubFilter state 'DECOMMISSIONING,DECOMMISSIONED,STARTING_DECOMMISSION,FROZEN'}}
                            <a data-slave-host="{{ host }}" data-slave-id="{{ id }}" data-state="{{ state }}" data-action="reactivate" title="Reactivate">
                                <span class="glyphicon glyphicon-new-window"></span>
                            </a>
                        {{/ifInSubFilter}}
                        {{#ifInSubFilter state 'ACTIVE'}}
                            <a data-slave-host="{{ host }}" data-slave-id="{{ id }}" data-state="{{ state }}" data-action="freeze" title="Freeze">
                                <span class="glyphicon glyphicon-stop"></span>
                            </a>
                        {{/ifInSubFilter}}
                        {{#ifInSubFilter state 'ACTIVE,FROZEN'}}
                            <a data-slave-host="{{ host }}" data-slave-id="{{ id }}" data-state="{{ state }}" data-action="decommission" title="Decommission">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        {{else}}
                            <a data-slave-host="{{ host }}" data-slave-id="{{ id }}" data-state="{{ state }}" data-action="remove" title="Remove">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        {{/ifInSubFilter}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <div id='empty-table' class="empty-table-message"><p>No slaves</p></div>
{{/if}}
