{{#if data.length}}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>State</th>
                <th>Rack</th>
                <th>Host</th>
                <th class="hidden-xs">Uptime</th>
                {{#ifInSubFilter data.[0].state 'DECOMMISSIONING,DECOMMISSIONED,STARTING_DECOMMISSION'}}
                    <th>Triggered By</th>
                {{/ifInSubFilter}}
                <th data-sortable="false"></th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
                <tr>
                    <td>
                        <a href="{{appRoot}}/tasks/active/{{ host }}">{{ id }}</a>
                    </td>
                    <td>{{ state }}</td>
                    <td>{{ rackId }}</td>
                    <td>{{ host }}</td>
                    <td class="hidden-xs" data-value="{{ uptime }}">
                        {{timestampDuration uptime}}
                    </td>
                    {{#ifInSubFilter state 'DECOMMISSIONING,DECOMMISSIONED,STARTING_DECOMMISSION'}}
                        <td>{{ user }}</td>
                    {{/ifInSubFilter}}
                    <td class="actions-column">
                        <a data-slave-id="{{ id }}" data-state="{{ state }}" data-action="remove" title="Decommission/Remove">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    {{#ifInSubFilter state 'DECOMMISSIONING,DECOMMISSIONED,STARTING_DECOMMISSION'}}
                            <a data-slave-id="{{ id }}" data-state="{{ state }}" data-action="reactivate" title="Reactivate">
                                Reactivate
                            </a>
                    {{/ifInSubFilter}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <div class="empty-table-message"><p>No slaves</p></div>
{{/if}}
