<header class="jumbotron subhead" id="overview">
    <h1>Singularity</h1>
</header>

<section>
    <div class="page-header">
        <h1>Status Overview</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="well">
                Uptime: <span data-state-property="uptime">{{ state.uptime }}</span> &nbsp;&nbsp;&nbsp;
                Driver status: <span data-state-property="driverStatus">{{ state.driverStatus }}</span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="page-header">
        <h1>Requests</h1>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <div class="well">
                <div class="big-number">
                    <div class="number" data-state-property="requests">{{ state.requests }}</div>
                    <div class="number-label">Active</div>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="well">
                <div class="big-number">
                    <div class="number" data-state-property="pendingRequests">{{ state.pendingRequests }}</div>
                    <div class="number-label">Pending</div>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="well">
                <div class="big-number">
                    <div class="number" data-state-property="cleaningRequests">{{ state.cleaningRequests }}</div>
                    <div class="number-label">Cleaning</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="page-header">
        <h1>Tasks</h1>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <div class="well">
                <div class="big-number">
                    <div class="number" data-state-property="activeTasks">{{ state.activeTasks }}</div>
                    <div class="number-label">Active</div>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="well">
                <div class="big-number">
                    <div class="number" data-state-property="scheduledTasks">{{ state.scheduledTasks }}</div>
                    <div class="number-label">Scheduled</div>
                </div>
            </div>
        </div>
        <div class="span4"></div>
    </div>
</section>