<header class="jumbotron subhead" id="overview">
    <h1>{{ request.name }}</h1>
    <h2>{{ request.id }}</h2>
</header>

<section>
    {{#if requestTasks}}
        <div class="page-header">
            <h1>Tasks</h1>
        </div>
        <div class="row-fluid">
            <div class="span12">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>JSON</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachWithFn requestTasks}}
                            <tr data-request-id="{{ id }}">
                                <td><span class="simptip-position-top simptip-movable" data-tooltip="{{ id }}"><a href="/singularity/task/{{ id }}" data-route="task/{{ id }}">{{#hardBreak name}}{{/hardBreak}}</a></span></td>
                                <td><span><a data-request-id="{{ id }}" class="dont-route view-json">JSON</a></span><td>
                            </tr>
                        {{/eachWithFn}}
                    </tbody>
                </table>

            </div>
        </div>
    {{/if}}
    <div class="page-header">
        <h1>JSON</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <pre>{{ request.JSONString }}</pre>
        </div>
    </div>
</section>