<header class="jumbotron subhead" id="overview">
    <h1>Tasks</h1>
</header>

<section>
    <!-- <input type="search" placeholder="Search tasks..." required /> -->
    <div class="row-fluid">
        <div class="span6">
            <h2>Active Tasks</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Resources</th>
                        <th>Started</th>
                        <th>JSON</th>
                    </tr>
                </thead>
                <tbody>
                    {{#eachWithFn tasksActive}}
                        <tr data-task-id="{{ id }}">
                            <td><span><a class="simptip-position-top simptip-movable" data-tooltip="{{ name }}" href="singularity/task/{{ id }}" data-route="task/{{ id }}">{{#hardBreak label}}{{/hardBreak}}</span></a></td>
                            <td><span>{{ resourcesCount }}</span></td>
                            <td><span class="ellipsis simptip-position-top simptip-movable" data-tooltip="{{ startedAt }}">{{ startedAtHuman }}</span></td>
                            <td><span><a data-task-id="{{ id }}" class="dont-route view-json">JSON</a></span><td>
                        </tr>
                    {{/eachWithFn}}
                </tbody>
            </table>
        </div>
        <div class="span6">
            <h2>Scheduled Tasks</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Scheduled</th>
                        <th>JSON</th>
                    </tr>
                </thead>
                <tbody>
                    {{#eachWithFn tasksScheduled}}
                        <tr data-task-id="{{ id }}">
                            <td><span class="simptip-position-top simptip-movable" data-tooltip="{{ name }}">{{#hardBreak label}}{{/hardBreak}}</span></td>
                            <td><span class="ellipsis simptip-position-top simptip-movable" data-tooltip="{{ nextRunAt }}">{{ nextRunAtHuman }}</span></td>
                            <td><span><a data-task-id="{{ id }}" class="dont-route view-json">JSON</a></span><td>
                        </tr>
                    {{/eachWithFn}}
                </tbody>
            </table>
        </div>
    </div>
</section>