{{#if taskFilesSandboxUnavailable}}
    <div class="page-loader-with-message">
        <div class="page-loader centered"></div>
        <p>Attempting to connect to the sandbox for this task...</p>
    </div>
{{else}}
    {{#if taskFiles}}
        <table class="table" data-sortable>
            <thead>
                <tr>
                    <th><span class="icon icon-directory invisible"></span>Name</a></th>
                    <th>Size</th>
                    <th>Last modified</th>
                    <th data-sortable="false"></th>
                </tr>
            </thead>
            <tbody>
                {{#eachWithFn taskFiles}}
                    <tr>
                        <td data-value="{{#if isDirectory}}a{{else}}b{{/if}} {{ shortPath }}">
                            {{#if isDirectory}}
                                <a href="{{#appRoot}}{{/appRoot}}task/{{ taskId }}/files{{ relPath }}" data-route="/task/{{ taskId }}/files{{ relPath }}"><span class="icon icon-directory"></span>{{ shortPath }}/</a>
                            {{else}}
                                <a href="{{#appRoot}}{{/appRoot}}task/{{ taskId }}/tail{{ relPath }}" data-route="/task/{{ taskId }}/tail{{ relPath }}"><span class="icon icon-file"></span>{{ shortPath }}</a>
                            {{/if}}
                        </td>
                        <td data-value="{{ size }}">
                            {{#unless isDirectory}}{{ sizeHuman }}{{/unless}}
                        </td>
                        <td data-value="{{#if isDirectory}}a{{else}}b{{/if}} {{ mtime }}"><span title="{{ mtime }}">{{ mtimeHuman }}</span></td>
                        <td class="actions-column">
                            {{#unless isDirectory}}
                                <a href="{{#appRoot}}{{/appRoot}}task/{{ taskId }}/tail{{ relPath }}" data-route="/task/{{ taskId }}/tail{{ relPath }}">View</a>
                                <a href="{{ downloadLink }}" target="_blank">Download</a>
                            {{/unless}}
                        </td>
                    </tr>
                {{/eachWithFn}}
            </tbody>
        </table>
    {{else}}
        {{#if taskFilesFetchDone}}
            <center><p>This directory contains no files.</p></center>
        {{else}}
            <div class="page-loader centered"></div>
        {{/if}}
    {{/if}}
{{/if}}