<header class="jumbotron subhead" id="overview">
    <h1>{{#hardBreak taskHistory.task.name}}{{/hardBreak}}</h1>
    <p class="lead">{{#hardBreak taskHistory.task.id}}{{/hardBreak}}</p>
</header>

<section>
    <ol class="breadcrumb">
        {{#eachWithFn breadcrumbs}}
            {{#if _last}}
                <li class="active">{{ path }}</li>
            {{else}}
                <li><a href="/singularity/{{ pathRoute }}" data-route="{{ pathRoute }}">{{ path }}</a></li>
            {{/if}}
        {{/eachWithFn}}
    </ol>

    <div class="row-fluid">
        <div class="span12">
            {{> filesTable}}
        </div>
    </div>
</section>