<header class="jumbotron subhead" id="overview">
    <h1>Racks</h1>
</header>

<section>
    <div class="page-header">
        <h1>Active Racks</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {{#if racksActive.length}}
                <table class="table" data-sortable>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>State</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachWithFn racksActive}}
                            <tr>
                                <td>{{ id }}</td>
                                <td>{{ state }}</td>
                            </tr>
                        {{/eachWithFn}}
                    </tbody>
                </table>
            {{else}}
                <center><p>No active racks.</p></center>
            {{/if}}
        </div>
    </div>
</section>

<section>
    <div class="page-header">
        <h1>Dead Racks</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {{#if racksDead.length}}
                <table class="table" data-sortable>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>State</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachWithFn racksDead}}
                            <tr>
                                <td>{{ id }}</td>
                                <td>{{ state }}</td>
                                <td class="actions-column"><a data-rack-id="{{ id }}" data-action="remove">Remove</a>
                            </tr>
                        {{/eachWithFn}}
                    </tbody>
                </table>
            {{else}}
                <center><p>No dead racks.</p></center>
            {{/if}}
        </div>
    </div>
</section>

<section>
    <div class="page-header">
        <h1>Decomissioning Racks</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {{#if racksDecomissioning.length}}
                <table class="table" data-sortable>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>State</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachWithFn racksDecomissioning}}
                            <tr>
                                <td>{{ id }}</td>
                                <td>{{ state }}</td>
                            </tr>
                        {{/eachWithFn}}
                    </tbody>
                </table>
            {{else}}
                <center><p>No decomissioning racks.</p></center>
            {{/if}}
        </div>
    </div>
</section>