<header class="jumbotron subhead" id="overview">
    <h1>Racks</h1>
</header>

<section>
    <div class="page-header">
        <h1>Active racks</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {{#if racksActive.length}}
                <table class="table" data-sortable>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Uptime</th>
                            <th data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachWithFn racksActive}}
                            <tr>
                                <td>{{ id }}</td>
                                <td data-value="{{ firstSeenAt }}">{{ uptimeHuman }}</td>
                                <td class="actions-column"><a data-rack-id="{{ id }}" data-action="decomission">Decommission</a></td>
                            </tr>
                        {{/eachWithFn}}
                    </tbody>
                </table>
            {{else}}
                {{#if fetchDone}}
                    <div class="empty-table-message"><p>No active racks</p></div>
                {{else}}
                    <div class="page-loader centered"></div>
                {{/if}}
            {{/if}}
        </div>
    </div>
</section>

<section>
    <div class="page-header">
        <h1>Dead racks</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {{#if racksDead.length}}
                <table class="table" data-sortable>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Died</th>
                            <th data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachWithFn racksDead}}
                            <tr>
                                <td>{{ id }}</td>
                                <td>{{ deadAtHuman }}</td>
                                <td class="actions-column"><a data-rack-id="{{ id }}" data-action="remove">Remove</a>
                            </tr>
                        {{/eachWithFn}}
                    </tbody>
                </table>
            {{else}}
                {{#if fetchDone}}
                    <div class="empty-table-message"><p>No dead racks</p></div>
                {{else}}
                    <div class="page-loader centered"></div>
                {{/if}}
            {{/if}}
        </div>
    </div>
</section>

<section>
    <div class="page-header">
        <h1>Decomissioning racks</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {{#if racksDecomissioning.length}}
                <table class="table" data-sortable>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>State</th>
                            <th>Triggered by</th>
                            <th>Started</th>
                            <th data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachWithFn racksDecomissioning}}
                            <tr>
                                <td>{{ id }}</td>
                                <td>{{ state }}</td>
                                <td>{{ decomissioningBy }}</td>
                                <td>{{ decomissioningAtHuman }}</td>
                                <td class="actions-column"><a data-rack-id="{{ id }}" data-action="remove" data-state="{{ state }}">Activate | Remove</a></td>
                            </tr>
                        {{/eachWithFn}}
                    </tbody>
                </table>
            {{else}}
                {{#if fetchDone}}
                    <div class="empty-table-message"><p>No decomissioning racks</p></div>
                {{else}}
                    <div class="page-loader centered"></div>
                {{/if}}
            {{/if}}
        </div>
    </div>
</section>