<h1 data-string-length-tens="{{ requestNameStringLengthTens }}">
    {{#hardBreak request.name}}{{/hardBreak}}

    <div class="header-actions">
        {{#if request.fullObject}}
            <a data-request-id="{{ request.id }}" data-action="viewObjectJSON">JSON</a>
        {{/if}}
        {{#if request.scheduledOrOnDemand}}
            {{#unless request.deleted}}
                <a data-request-id="{{ request.id }}" data-request-type="{{#if request.onDemand}}on-demand{{else}}scheduled{{/if}}" data-action="run-request-now">Run now</a>
            {{/unless}}
        {{/if}}
        {{#if request.fullObject}}
            {{#unless request.deleted}}
                {{#if request.paused}}
                    <a data-request-id="{{ request.id }}" data-action="unpause">Unpause</a>
                {{else}}
                    <a data-request-id="{{ request.id }}" data-action="pause">Pause</a>
                {{/if}}
            {{/unless}}
        {{/if}}
        
        {{#if request.canBeBounced}}
            <a data-request-id="{{ request.id }}" data-action="bounce">Bounce</a>
        {{/if}}
        
        {{#unless request.deleted}}
            <a data-request-id="{{ request.id }}" data-action="remove">Remove</a>
        {{/unless}}
    </div>
</h1>
{{#if firstRequestHistoryItem}}
    <p class="lead"><span class="request-state {{ request.state }}">{{ request.displayState }}</span>{{ firstRequestHistoryItem.stateHuman }} {{#if firstRequestHistoryItem.userHuman}}by {{ firstRequestHistoryItem.userHuman }}{{/if}} {{ firstRequestHistoryItem.createdAtHuman }}</p>
{{/if}}
