<header class="jumbotron subhead" id="overview">
    <h1>Cleaning Requests</h1>
</header>

<section>
    <div class="row-fluid">
        <input type="search" placeholder="Filter requests..." required />
    </div>
    <div class="row-fluid">
        <div class="span12">
            {{#if requests.length}}
                <table class="table" data-sortable>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Timestamp</th>
                            <th>Cleaning Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachWithFn requests}}
                            <tr data-request-id="{{ id }}">
                                <td>{{#hardBreak id}}{{/hardBreak}}</td>
                                <td>{{ user }}</td>
                                <td data-value="{{ timestamp }}">{{ timestampHuman }}</td>
                                <td>{{ cleanupType }}</td>
                            </tr>
                        {{/eachWithFn}}
                    </tbody>
                </table>
            {{else}}
                <center><p>No cleaning requests.</p></center>
            {{/if}}
        </div>
    </div>
</section>