<ul class="nav nav-pills nav-pills-multi-select">
    <li
        {{#ifEqual requestsSubFilter "daemon"}}           class="active" {{/ifEqual}}
        {{#ifEqual requestsSubFilter "daemon-on-demand"}} class="active" {{/ifEqual}}
        {{#ifEqual requestsSubFilter "daemon-scheduled"}} class="active" {{/ifEqual}}
        {{#ifEqual requestsSubFilter "all"}}              class="active" {{/ifEqual}}
    >
        <a href="{{#appRoot}}{{/appRoot}}requests"
            {{#ifEqual requestsSubFilter "on-demand"}}           data-requests-active-filter="daemon-on-demand"    {{else}}
            {{#ifEqual requestsSubFilter "scheduled"}}           data-requests-active-filter="daemon-scheduled"    {{else}}
            {{#ifEqual requestsSubFilter "on-demand-scheduled"}} data-requests-active-filter="all"                 {{else}}
            {{#ifEqual requestsSubFilter "daemon-on-demand"}}    data-requests-active-filter="on-demand"           {{else}}
            {{#ifEqual requestsSubFilter "daemon-scheduled"}}    data-requests-active-filter="scheduled"           {{else}}
            {{#ifEqual requestsSubFilter "all"}}                 data-requests-active-filter="on-demand-scheduled" {{else}}
                data-requests-active-filter="daemon"
            {{/ifEqual}}{{/ifEqual}}{{/ifEqual}}{{/ifEqual}}{{/ifEqual}}{{/ifEqual}}
            data-requests-active-filter-shift="daemon"
        >Daemon</a>
    </li>
    <li
        {{#ifEqual requestsSubFilter "on-demand"}}           class="active" {{/ifEqual}}
        {{#ifEqual requestsSubFilter "daemon-on-demand"}}    class="active" {{/ifEqual}}
        {{#ifEqual requestsSubFilter "on-demand-scheduled"}} class="active" {{/ifEqual}}
        {{#ifEqual requestsSubFilter "all"}}                 class="active" {{/ifEqual}}
    >
        <a href="{{#appRoot}}{{/appRoot}}requests/active/on-demand"
            {{#ifEqual requestsSubFilter "daemon"}}              data-requests-active-filter="daemon-on-demand"    {{else}}
            {{#ifEqual requestsSubFilter "scheduled"}}           data-requests-active-filter="on-demand-scheduled" {{else}}
            {{#ifEqual requestsSubFilter "daemon-scheduled"}}    data-requests-active-filter="all"                 {{else}}
            {{#ifEqual requestsSubFilter "daemon-on-demand"}}    data-requests-active-filter="daemon"              {{else}}
            {{#ifEqual requestsSubFilter "on-demand-scheduled"}} data-requests-active-filter="scheduled"           {{else}}
            {{#ifEqual requestsSubFilter "all"}}                 data-requests-active-filter="daemon-scheduled"    {{else}}
                data-requests-active-filter="on-demand"
            {{/ifEqual}}{{/ifEqual}}{{/ifEqual}}{{/ifEqual}}{{/ifEqual}}{{/ifEqual}}
            data-requests-active-filter-shift="on-demand"
        >On-demand</a>
    </li>
    <li
        {{#ifEqual requestsSubFilter "scheduled"}}           class="active" {{/ifEqual}}
        {{#ifEqual requestsSubFilter "daemon-scheduled"}}    class="active" {{/ifEqual}}
        {{#ifEqual requestsSubFilter "on-demand-scheduled"}} class="active" {{/ifEqual}}
        {{#ifEqual requestsSubFilter "all"}}                 class="active" {{/ifEqual}}
    >
        <a href="{{#appRoot}}{{/appRoot}}requests/active/scheduled"
            {{#ifEqual requestsSubFilter "daemon"}}              data-requests-active-filter="daemon-scheduled"     {{else}}
            {{#ifEqual requestsSubFilter "on-demand"}}           data-requests-active-filter="on-demand-scheduled" {{else}}
            {{#ifEqual requestsSubFilter "daemon-on-demand"}}    data-requests-active-filter="all"                  {{else}}
            {{#ifEqual requestsSubFilter "daemon-scheduled"}}    data-requests-active-filter="daemon"               {{else}}
            {{#ifEqual requestsSubFilter "on-demand-scheduled"}} data-requests-active-filter="on-demand"           {{else}}
            {{#ifEqual requestsSubFilter "all"}}                 data-requests-active-filter="daemon-on-demand"     {{else}}
                data-requests-active-filter="scheduled"
            {{/ifEqual}}{{/ifEqual}}{{/ifEqual}}{{/ifEqual}}{{/ifEqual}}{{/ifEqual}}
            data-requests-active-filter-shift="scheduled"
        >Scheduled</a>
    </li>
    <li class="ui-tip nav-tip hidden-phone">
        Tip: hold down <code>shift</code> to select one at a time.
    </li>
</ul>