{{! Part of requestBase }}
<div class="page-header">
    <h1>Active tasks</h1>
</div>
{{#if activeTasks}}
    <div class="row-fluid">
        <div class="span12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="visible-desktop">Status</th>
                        <th class="visible-desktop">Deploy ID</th>
                        <th class="visible-desktop">Started</th>
                        <th class="hidden-phone">Updated</th>
                        <th class="hidden-phone"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#eachWithFn activeTasks}}
                        <tr data-task-id="{{ id }}">
                            <td><span title="{{ id }}"><a href="{{#appRoot}}{{/appRoot}}/task/{{ id }}">{{#getShortTaskIDMiddleEllipsis name}}{{/getShortTaskIDMiddleEllipsis}}</a></span></td>
                            <td class="visible-desktop">{{ lastTaskStateHuman }}</td>
                            <td class="visible-desktop">{{ deployId }}</td>
                            <td class="visible-desktop" data-value="{{ startedAt }}">{{ startedAtHuman }}</td>
                            <td class="hidden-phone" data-value="{{ updatedAt }}">{{ updatedAtHuman }}</td>
                            <td class="actions-column hidden-phone">
                                <a data-task-id="{{ id }}" data-action="viewJSON">JSON</a>
                                <a href="{{#appRoot}}{{/appRoot}}/task/{{ id }}/files/">Files</a>
                            </td>
                        </tr>
                    {{/eachWithFn}}
                </tbody>
            </table>
        </div>
    </div>
{{else}}
    <div class="empty-table-message"><p>No active tasks</p></div>
{{/if}}
