<section>
    <div class="row-fluid">
        <div class="span12">
            {{#ifEqual requestsSubFilter "running"}}
                {{#if requests.length}}
                    <table class="table" data-sortable>
                        <thead>
                            <tr>
                                <th data-sortable="false"></th>
                                <th>Name</th>
                                <th>Requested</th>
                                <th>Deploy User</th>
                                <th>Instances</th>
                                <th data-sortable="false"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#eachWithFn requests}}
                                <tr data-request-id="{{ id }}" data-request-deploy-user="{{ deployUser }}">
                                    <td><a class="star" data-action="starToggle" data-starred="{{ starred }}" data-request-id="{{ id }}" data-request-name="{{ name }}">★</a></td>
                                    <td><span title="{{ id }}"><a href="/singularity/request/{{ id }}" data-route="request/{{ id }}">{{#hardBreak name}}{{/hardBreak}}</a></span></td>
                                    <td data-value="{{ timestamp }}"><span title="{{ timestamp }}">{{ timestampHuman }}</span></td>
                                    <td>{{ deployUser }}</td>
                                    <td>{{ instances }}</td>
                                    <td class="actions-column">
                                        <a data-request-id="{{ id }}" data-action="viewJSON">JSON</a>
                                        <a data-request-id="{{ id }}" data-action="remove">Remove</a>
                                    </td>
                                </tr>
                            {{/eachWithFn}}
                        </tbody>
                    </table>
                {{else}}
                    {{#if collectionSynced}}
                        <div class="empty-table-message"><p>No active running requests</p></div>
                    {{else}}
                        <div class="page-loader centered cushy"></div>
                    {{/if}}
                {{/if}}
            {{/ifEqual}}
            {{#ifEqual requestsSubFilter "on-demand"}}
                {{#if requestsOnDemand.length}}
                    <table class="table" data-sortable>
                        <thead>
                            <tr>
                                <th data-sortable="false"></th>
                                <th>Name</th>
                                <th>Requested</th>
                                <th data-sortable="false"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#eachWithFn requestsOnDemand}}
                                <tr data-request-id="{{ id }}">
                                    <td><a class="star" data-action="starToggle" data-starred="{{ starred }}" data-request-id="{{ id }}" data-request-name="{{ name }}">★</a></td>
                                    <td><span title="{{ id }}"><a href="/singularity/request/{{ id }}" data-route="request/{{ id }}">{{#hardBreak name}}{{/hardBreak}}</a></span></td>
                                    <td data-value="{{ timestamp }}"><span title="{{ timestamp }}">{{ timestampHuman }}</span></td>
                                    <td class="actions-column">
                                        <a data-request-id="{{ id }}" data-action="viewJSON">JSON</a>
                                        <a data-request-id="{{ id }}" data-request-type="on-demand" data-action="run-now">Run now</a>
                                        <a data-request-id="{{ id }}" data-action="remove">Remove</a>
                                    </td>
                                </tr>
                            {{/eachWithFn}}
                        </tbody>
                    </table>
                {{else}}
                    {{#if collectionSynced}}
                        <div class="empty-table-message"><p>No on-demand requests</p></div>
                    {{else}}
                        <div class="page-loader centered cushy"></div>
                    {{/if}}
                {{/if}}
            {{/ifEqual}}
            {{#ifEqual requestsSubFilter "scheduled"}}
                {{#if requestsScheduled.length}}
                    <table class="table" data-sortable>
                        <thead>
                            <tr>
                                <th data-sortable="false"></th>
                                <th>Name</th>
                                <th>Requested</th>
                                <th>Deploy User</th>
                                <th>Schedule</th>
                                <th data-sortable="false"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#eachWithFn requestsScheduled}}
                                <tr data-request-id="{{ id }}" data-request-deploy-user="{{ deployUser }}">
                                    <td><a class="star" data-action="starToggle" data-starred="{{ starred }}" data-request-id="{{ id }}" data-request-name="{{ name }}">★</a></td>
                                    <td><span title="{{ id }}"><a href="/singularity/request/{{ id }}" data-route="request/{{ id }}">{{#hardBreak name}}{{/hardBreak}}</a></span></td>
                                    <td data-value="{{ timestamp }}"><span title="{{ timestamp }}">{{ timestampHuman }}</span></td>
                                    <td>{{ deployUser }}</td>
                                    <td>{{ schedule }}</td>
                                    <td class="actions-column">
                                        <a data-request-id="{{ id }}" data-action="viewJSON">JSON</a>
                                        <a data-request-id="{{ id }}" data-request-type="scheduled" data-action="run-now">Run now</a>
                                        <a data-request-id="{{ id }}" data-action="remove">Remove</a>
                                    </td>
                                </tr>
                            {{/eachWithFn}}
                        </tbody>
                    </table>
                {{else}}
                    {{#if collectionSynced}}
                        <div class="empty-table-message"><p>No active scheduled requests</p></div>
                    {{else}}
                        <div class="page-loader centered cushy"></div>
                    {{/if}}
                {{/if}}
            {{/ifEqual}}
        </div>
    </div>
</section>