{{#if requestDeployHistory.deploys}}
    <div class="row-fluid">
        <div class="span12">
            <table class="table" data-sortable>
                <thead>
                    <tr>
                        <th>Deploy ID</th>
                        <th>User</th>
                        <th>Timestamp</th>
                        <th data-sortable="false"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#eachWithFn requestDeployHistory.deploys}}
                        <tr>
                            <td>{{ deployId }}</span></td>
                            <td>{{ user }}</td>
                            <td data-value="{{ timestamp }}">{{ timestampHuman }}</td>
                            <td class="actions-column">
                                <a data-deploy-id="{{ deployId }}" data-action="viewDeployJSON">JSON</a>
                            </td>
                        </tr>
                    {{/eachWithFn}}
                </tbody>
            </table>
        </div>
    </div>
{{else}}
    {{#if fetchDoneDeployHistory}}
        <div class="empty-table-message"><p>No deploy history</p></div>
    {{else}}
        <div class="page-loader centered"></div>
    {{/if}}
{{/if}}