{{#unless rowsOnly}}
    {{#if haveRequests}}
        <table class="table" data-sortable>
            <thead>
                <tr>
                    <th data-sort-attribute="id">ID</th>
                    <th data-sort-attribute="user" class="visible-desktop">User</th>
                    <th data-sort-attribute="timestamp" class="hidden-phone">Timestamp</th>
                    <th data-sort-attribute="cleanupType" class="visible-desktop">Cleaning Type</th>
                </tr>
            </thead>
            <tbody>
    {{/if}}
{{/unless}}
            {{#eachWithFn requests}}
                <tr data-request-id="{{ id }}">
                    <td>{{#hardBreak id}}{{/hardBreak}}</td>
                    <td class="visible-desktop">{{ user }}</td>
                    <td class="hidden-phone" data-value="{{ timestamp }}">{{ timestampHuman }}</td>
                    <td class="visible-desktop">{{ cleanupType }}</td>
                </tr>
            {{/eachWithFn}}
{{#unless rowsOnly}}
    {{#if haveRequests}}
            </tbody>
        </table>
    {{else}}
        {{#if collectionSynced}}
            <div class="empty-table-message"><p>No cleaning requests</p></div>
        {{else}}
            <div class="page-loader centered cushy"></div>
        {{/if}}
    {{/if}}
{{/unless}}