{{#if requestHistory.requestUpdates}}
    <div class="row-fluid">
        <div class="span12">
            <table class="table" data-sortable>
                <thead>
                    <tr>
                        <th>State</th>
                        <th>User</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    {{#eachWithFn requestHistory.requestUpdates}}
                        <tr>
                            <td>{{ stateHuman }}</td>
                            <td>{{ userHuman }}</td>
                            <td data-value="{{ createdAt }}">{{ createdAtHuman }}</td>
                        </tr>
                    {{/eachWithFn}}
                </tbody>
            </table>
        </div>
    </div>
{{else}}
    {{#if fetchDoneHistory}}
        <div class="empty-table-message"><p>No request history</p></div>
    {{else}}
        <div class="page-loader centered"></div>
    {{/if}}
{{/if}}
