<header class="jumbotron subhead" id="overview">
    <h1>Active Requests</h1>
</header>

<section>
    <div class="row-fluid">
        <input type="search" placeholder="Filter requests..." required />
    </div>
    <div class="row-fluid">
        <div class="span12">
            {{#if requests.length}}
                <table class="table" data-sortable>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Requested</th>
                            <th>Deploy User</th>
                            <th>Instances</th>
                            <th>Daemon</th>
                            <th data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachWithFn requests}}
                            <tr data-request-id="{{ id }}">
                                <td><span title="{{ id }}"><a href="/singularity/request/{{ id }}" data-route="request/{{ id }}">{{#hardBreak name}}{{/hardBreak}}</a></span></td>
                                <td data-value="{{ timestamp }}"><span title="{{ timestamp }}">{{ timestampHuman }}</span></td>
                                <td>{{ deployUser }}</td>
                                <td>{{ instances }}</td>
                                <td>{{ daemon }}</td>
                                <td>
                                    <a data-request-id="{{ id }}" class="dont-route view-json">JSON</a>
                                    &nbsp;&nbsp;
                                    <a data-request-id="{{ id }}" class="dont-route" data-action="remove" data-url="{{ url }}">Remove</a>
                                </td>
                            </tr>
                        {{/eachWithFn}}
                    </tbody>
                </table>
            {{else}}
                <center><p>No active requests.</p></center>
            {{/if}}
        </div>
    </div>
</section>