<div class="page-header">
    <h1>Deploy history</h1>
</div>
{{#if data.length}}
    <table class="table" data-sortable>
        <thead>
            <tr>
                <th>Deploy ID</th>
                <th>Status</th>
                <th>User</th>
                <th>Timestamp</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
                <tr>
                    <td>{{ deployId }}</td>
                    <td>{{ deployResult.deployStateHuman }}</td>
                    <td>{{ user }}</td>
                    <td data-value="{{ timestamp }}">{{ timestampHuman }}</td>
                    <td class="actions-column">
                        <a data-deploy-id="{{ deployId }}" data-action="viewDeployJSON">
                            JSON
                        </a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    {{#if synced}}
        <div class="empty-table-message">
            No deploys
        </div>
    {{else}}
        <div class="page-loader centered cushy"></div>
    {{/if}}
{{/if}}
