<header class="jumbotron subhead" id="overview">
    <h1>{{#hardBreak request.name}}{{/hardBreak}}</h1>
    <p class="lead">{{#hardBreak request.id}}{{/hardBreak}}</p>
</header>

<section>
    <div class="page-header">
        <h1>Active Tasks</h1>
    </div>
    {{#if requestTasksActive}}
        <div class="row-fluid">
            <div class="span12">
                <table class="table" data-sortable>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th data-sortable="false">JSON</th>
                            <th data-sortable="false">Files</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachWithFn requestTasksActive}}
                            <tr data-task-id="{{ id }}">
                                <td><span title="{{ id }}"><a href="/singularity/task/{{ id }}" data-route="task/{{ id }}">{{#hardBreak name}}{{/hardBreak}}</a></span></td>
                                <td>{{ lastStatusHuman }}</td>
                                <td data-value="{{ createdAt }}">{{ createdAtHuman }}</td>
                                <td data-value="{{ updatedAt }}">{{ updatedAtHuman }}</td>
                                <td><a data-task-id="{{ id }}" class="dont-route view-json">JSON</a></td>
                                <td><a href="/singularity/task/{{ id }}/files/" data-route="/task/{{ id }}/files/">Files</a></td>
                            </tr>
                        {{/eachWithFn}}
                    </tbody>
                </table>
            </div>
        </div>
    {{else}}
        {{#if fetchDone}}
            <center><p>No active tasks.</p></center>
        {{else}}
            <div class="page-loader centered"></div>
        {{/if}}
    {{/if}}

    <div class="page-header">
        <h1>Scheduled Tasks</h1>
    </div>
    {{#if requestTasksScheduled}}
        <div class="row-fluid">
            <div class="span12">
                <table class="table" data-sortable>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Next run</th>
                            <th data-sortable="false">JSON</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachWithFn requestTasksScheduled}}
                            <tr data-task-id="{{ id }}">
                                <td><span title="{{ id }}">{{#hardBreak name}}{{/hardBreak}}</span></td>
                                <td data-value="{{ nextRunAt }}"><span title="{{ nextRunAt }}">{{ nextRunAtHuman }}</span></td>
                                <td><a data-task-id="{{ id }}" class="dont-route view-json">JSON</a></td>
                            </tr>
                        {{/eachWithFn}}
                    </tbody>
                </table>
            </div>
        </div>
    {{else}}
        <center><p>No scheduled tasks.</p></center>
    {{/if}}

    <div class="page-header">
        <h1>Historical Tasks <small>Last 100</small></h1>
    </div>
    {{#if requestTasksHistorical}}
        <div class="row-fluid">
            <div class="span12">
                <table class="table" data-sortable>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th data-sortable="false">Files</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachWithFn requestTasksHistorical}}
                            <tr data-task-id="{{ id }}">
                                <td><span title="{{ id }}">{{#hardBreak name}}{{/hardBreak}}</span></td>
                                <td>{{ lastStatusHuman }}</td>
                                <td data-value="{{ createdAt }}">{{ createdAtHuman }}</td>
                                <td data-value="{{ updatedAt }}">{{ updatedAtHuman }}</td>
                                <td><a href="/singularity/task/{{ id }}/files/" data-route="/task/{{ id }}/files/">Files</a></td>
                            </tr>
                        {{/eachWithFn}}
                    </tbody>
                </table>
            </div>
        </div>
    {{else}}
        {{#if fetchDone}}
            <center><p>No histocial tasks.</p></center>
        {{else}}
            <div class="page-loader centered"></div>
        {{/if}}
    {{/if}}

    <div class="page-header">
        <h1>JSON</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <pre>{{ request.JSONString }}</pre>
        </div>
    </div>
</section>