<section>
    {{#if requestsResults}}
        <div class="page-header">
            <h1>Requests</h1>
        </div>
        <div class="row-fluid">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Created</th>
                        <th>Instances</th>
                        <th>Daemon</th>
                    </tr>
                </thead>
                <tbody>
                    {{#eachWithFn requestsResults}}
                        <tr>
                            <td><a title="{{ id }}" href="{{#appRoot}}{{/appRoot}}/request/{{ id }}">{{#hardBreak name}}{{/hardBreak}}</a></td>
                            <td data-value="{{ createdAt }}"><span title="{{ createdAt }}">{{ createdAtHuman }}</span></td>
                            <td>{{ instances }}</td>
                            <td>{{ daemon }}</td>
                        </tr>
                    {{/eachWithFn}}
                </tbody>
            </table>
        </div>
    {{else}}
        <div class="empty-table-message"><p>No requests found</p></div>
    {{/if}}
</section>

<section>
    {{#if tasksResults}}
        <div class="page-header">
            <h1>Tasks</h1>
        </div>
        <div class="row-fluid">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Started</th>
                        <th>Host</th>
                        <th>Rack</th>
                    </tr>
                </thead>
                <tbody>
                    {{#eachWithFn tasksResults}}
                        <tr>
                            <td><a title="{{ id }}" href="{{#appRoot}}{{/appRoot}}/task/{{ id }}">{{#hardBreak name}}{{/hardBreak}}</a></td>
                            <td data-value="{{ startedAt }}"><span title="{{ startedAt }}">{{ startedAtHuman }}</span></td>
                            <td>{{ host }}</td>
                            <td>{{ rack }}</td>
                        </tr>
                    {{/eachWithFn}}
                </tbody>
            </table>
        </div>
    {{else}}
        <div class="empty-table-message"><p>No tasks found</p></div>
    {{/if}}
</section>