<header class="jumbotron subhead" id="overview">
    <h1>Slaves</h1>
</header>

<section>
    <div class="page-header">
        <h1>Active slaves</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {{#if slavesActive.length}}
                <table class="table" data-sortable>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Rack</th>
                            <th>Host</th>
                            <th>Uptime</th>
                            <th data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachWithFn slavesActive}}
                            <tr>
                                <td>
                                    <a href="{{#appRoot}}{{/appRoot}}/tasks/active/{{ host }}">{{ id }}</a>
                                </td>
                                <td>{{ rackId }}</td>
                                <td>{{ host }}</td>
                                <td data-value="{{ firstSeenAt }}">{{ uptimeHuman }}</td>
                                <td class="actions-column"><a data-slave-id="{{ id }}" data-action="decommission">Decommission</a></td>
                            </tr>
                        {{/eachWithFn}}
                    </tbody>
                </table>
            {{else}}
                {{#if fetchDone}}
                    <div class="empty-table-message"><p>No active slaves</p></div>
                {{else}}
                    <div class="page-loader centered"></div>
                {{/if}}
            {{/if}}
        </div>
    </div>
</section>

<section>
    <div class="page-header">
        <h1>Dead slaves</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {{#if slavesDead.length}}
                <table class="table" data-sortable>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Rack</th>
                            <th>Host</th>
                            <th>Died</th>
                            <th data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachWithFn slavesDead}}
                            <tr>
                                <td>{{ id }}</td>
                                <td>{{ rackId }}</td>
                                <td>{{ host }}</td>
                                <td data-value="{{ deadAt }}">{{ deadAtHuman }}</td>
                                <td class="actions-column"><a data-slave-id="{{ id }}" data-action="remove" data-state="{{ state }}">Remove</a>
                            </tr>
                        {{/eachWithFn}}
                    </tbody>
                </table>
            {{else}}
                {{#if fetchDone}}
                    <div class="empty-table-message"><p>No dead slaves</p></div>
                {{else}}
                    <div class="page-loader centered"></div>
                {{/if}}
            {{/if}}
        </div>
    </div>
</section>

<section>
    <div class="page-header">
        <h1>Decomissioning slaves</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {{#if slavesDecomissioning.length}}
                <table class="table" data-sortable>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Rack</th>
                            <th>Host</th>
                            <th>State</th>
                            <th>Triggered by</th>
                            <th>Started</th>
                            <th>Uptime</th>
                            <th data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachWithFn slavesDecomissioning}}
                            <tr>
                                <td>{{ id }}</td>
                                <td>{{ rackId }}</td>
                                <td>{{ host }}</td>
                                <td>{{ state }}</td>
                                <td>{{ decomissioningBy }}</td>
                                <td>{{ decomissioningAtHuman }}</td>
                                <td>{{ uptimeHuman }}</td>
                                <td class="actions-column"><a data-slave-id="{{ id }}" data-action="remove" data-state="{{ state }}">Reactivate | Remove</a>
                            </tr>
                        {{/eachWithFn}}
                    </tbody>
                </table>
            {{else}}
                {{#if fetchDone}}
                    <div class="empty-table-message"><p>No decomissioning slaves</p></div>
                {{else}}
                    <div class="page-loader centered"></div>
                {{/if}}
            {{/if}}
        </div>
    </div>
</section>