<header class="tail-header jumbotron subhead" id="overview">
    <div class="container">
        <div class="row">
            <div class="span9">
                <ul class="breadcrumb">
                    {{#each breadcrumbs}}
                        <li>
                            {{#ifEqual name ../filename}}
                                <strong>{{ name }}</strong>
                            {{else}}
                                <a href="{{#appRoot}}{{/appRoot}}/task/{{ ../../taskId }}/files/{{ path }}">
                                    {{ name }}
                                </a>
                            {{/ifEqual}}
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div class="span3 visible-desktop tail-buttons">
                <a class="btn tail-top-button">To top</a>
                <a class="btn tail-bottom-button">To bottom</a>
            </div>
        </div>
    </div>
</header>

<div class="tail-indicator">
    <div class="page-loader centered"></div>
    <span>Tailing</span>
</div>

<div class="tail-contents">

</div>
