<header class="jumbotron subhead" id="overview">
    <h3><a href="/singularity/task/{{ taskId }}" data-route="task/{{ taskId }}">{{#hardBreak taskId}}{{/hardBreak}}</a></h3>
    <h1><a href="/singularity/task/{{ taskId }}/files/" data-route="task/{{ taskId }}/files/">...</a>/{{#each subfolders}}<a href="/singularity/task/{{ ../taskId }}/files/{{ fullPath }}" data-route="task/{{ ../taskId }}/files/{{ fullPath }}">{{name}}</a>/{{/each}}{{#hardBreak filename }}{{/hardBreak}}</h1>
</header>

<div class="tail-outer">
    <div class="tail-container"></div>
    <div class="tail-loader">
        <div class="page-loader fixed"></div>
    </div>
</div>

<div class="tail-indicator">
    <div class="page-loader small centered"></div>
</div>