<header class="jumbotron subhead" id="overview">
    <h1>Scheduled Tasks</h1>
</header>

<section>
    <input type="search" placeholder="Filter tasks..." required />
    <div class="row-fluid">
        <div class="span12">
            <table class="table" data-sortable="true">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Next run</th>
                        <th data-sort="false">JSON</th>
                    </tr>
                </thead>
                <tbody>
                    {{#eachWithFn tasks}}
                        <tr data-task-id="{{ id }}">
                            <td><span title="{{ id }}">{{#hardBreak name}}{{/hardBreak}}</span></td>
                            <td data-value="{{ nextRunAt}}"><span title="{{ nextRunAt }}">{{ nextRunAtHuman }}</span></td>
                            <td><a data-task-id="{{ id }}" class="dont-route view-json">JSON</a></td>
                        </tr>
                    {{/eachWithFn}}
                </tbody>
            </table>
        </div>
    </div>
</section>