<header class="jumbotron subhead" id="overview">
    <h1>Active Tasks</h1>
</header>

<section>
    <input type="search" placeholder="Filter tasks..." required />
    <div class="row-fluid">
        <div class="span12">
            <table class="table" data-sortable="true">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Started</th>
                        <th>Host</th>
                        <th>Rack</th>
                        <th>CPUs</th>
                        <th>Memory</th>
                        <th data-sort="false"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#eachWithFn tasks}}
                        <tr data-task-id="{{ id }}">
                            <td><a title="{{ id }}" href="/singularity/task/{{ id }}" data-route="task/{{ id }}">{{#hardBreak name}}{{/hardBreak}}</a></td>
                            <td data-value="{{ startedAt }}"><span title="{{ startedAt }}">{{ startedAtHuman }}</span></td>
                            <td>{{ host }}</td>
                            <td>{{ rack }}</td>
                            <td>{{ resources.cpus }}</td>
                            <td data-value="{{ resources.memoryMb }}">{{ memoryHuman }}</td>
                            <td>
                                <a data-task-id="{{ id }}" class="dont-route view-json">JSON</a>
                                &nbsp;&nbsp;
                                <a data-task-id="{{ id }}" class="dont-route" data-action="remove" data-url="{{ url }}">Remove</a>
                            </td>
                        </tr>
                    {{/eachWithFn}}
                </tbody>
            </table>
        </div>
    </div>
</section>