<header class="jumbotron subhead" id="overview">
    <h1>{{#hardBreak taskHistory.task.name}}{{/hardBreak}}</h1>
    <p class="lead">{{#hardBreak taskHistory.task.id}}{{/hardBreak}}</p>
</header>

<section>
    <div class="page-header">
        <h1>History</h1>
    </div>
    {{#if taskHistory.taskUpdates}}
        <div class="row-fluid">
            <div class="span12">
                <table class="table" data-sortable="true">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Message</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachWithFn taskHistory.taskUpdates}}
                            <tr>
                                <td><span title="{{ statusUpdate }}">{{ statusUpdateHuman }}</span></td>
                                <td>{{ statusMessage }}</td>
                                <td data-value="{{ timestamp }}"><span title="{{ timestamp }}">{{ timestampHuman }}</span></td>
                            </tr>
                        {{/eachWithFn}}
                    </tbody>
                </table>
            </div>
        </div>
    {{else}}
        <div class="page-loader centered"></div>
    {{/if}}
    <div class="page-header">
        <h1>JSON</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <pre>{{ taskHistory.task.JSONString }}</pre>
        </div>
    </div>
</section>