<header class="jumbotron subhead" id="overview">
    <h1>Active Tasks</h1>
</header>

<section>
    <input type="search" placeholder="Search tasks..." required />
    <div class="row-fluid">
        <div class="span12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Started</th>
                        <th>Host</th>
                        <th>CPUs</th>
                        <th>Memory</th>
                        <th>JSON</th>
                    </tr>
                </thead>
                <tbody>
                    {{#eachWithFn tasks}}
                        <tr data-task-id="{{ id }}">
                            <td><span><a class="simptip-position-top simptip-movable" data-tooltip="{{ id }}" href="/singularity/task/{{ id }}" data-route="task/{{ id }}">{{#hardBreak name}}{{/hardBreak}}</a></span></td>
                            <td><span class="simptip-position-top simptip-movable" data-tooltip="{{ startedAt }}">{{ startedAtHuman }}</span></td>
                            <td><span>{{ host }}</span></td>
                            <td><span>{{ resources.cpus }}</span></td>
                            <td><span>{{ resources.memoryMb }}Mb</span></td>
                            <td><span><a data-task-id="{{ id }}" class="dont-route view-json">JSON</a></span><td>
                        </tr>
                    {{/eachWithFn}}
                </tbody>
            </table>
        </div>
    </div>
</section>