{{#if tasks.length}}
    <table class="table" data-sortable>
        <thead>
            <tr>
                <th>Name</th>
                <th>Cleanup type</th>
                <th data-sortable="false"></th>
            </tr>
        </thead>
        <tbody>
            {{#eachWithFn tasks}}
                <tr data-task-id="{{ id }}">
                    <td><a title="{{ id }}" href="{{#appRoot}}{{/appRoot}}/task/{{ id }}">{{#hardBreak name}}{{/hardBreak}}</a></td>
                    <td>{{ cleanupTypeHuman }}</span></td>
                    <td class="actions-column"><a data-task-id="{{ id }}" data-action="viewJSON">JSON</a></td>
                </tr>
            {{/eachWithFn}}
        </tbody>
    </table>
{{else}}
    {{#if collectionSynced}}
        <div class="empty-table-message"><p>No cleaning tasks</p></div>
    {{else}}
        <div class="page-loader centered cushy"></div>
    {{/if}}
{{/if}}