<header class="jumbotron subhead" id="overview">
    <h3><a href="/singularity/request/{{ request.id }}" data-route="request/{{ request.id }}">{{#hardBreak request.id}}{{/hardBreak}}</a></h3>
    <h1>{{#hardBreak taskHistory.task.name}}{{/hardBreak}} <small><a data-task-id="{{ taskHistory.task.id }}" data-action="viewObjectJSON">JSON</a>{{#if taskHistory.task.isFinished}}{{else}} &nbsp; <a data-task-id="{{ taskHistory.task.id }}" data-action="remove">Kill&nbsp;Task</a>{{/if}}</small></h1>
    <p class="lead">{{#hardBreak taskHistory.task.id}}{{/hardBreak}}</p>
</header>

<section>
    <div class="page-header">
        <h1>History</h1>
    </div>
    {{#if taskHistory.taskUpdates}}
        <div class="row-fluid">
            <div class="span12">
                <table class="table" data-sortable>
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Message</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachWithFn taskHistory.taskUpdates}}
                            <tr>
                                <td><span title="{{ statusUpdate }}">{{ statusUpdateHuman }}</span></td>
                                <td>{{ statusMessage }}</td>
                                <td data-value="{{ timestamp }}"><span title="{{ timestamp }}">{{ timestampHuman }}</span></td>
                            </tr>
                        {{/eachWithFn}}
                    </tbody>
                </table>
            </div>
        </div>
    {{else}}
        <div class="page-loader centered"></div>
    {{/if}}
</section>

<section>
    <div class="page-header">
        <h1>Files</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {{> filesTable}}
        </div>
    </div>
</section>

<section>
    <div class="page-header">
        <h1>Info</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <p>Executor guid:</p>
            <pre>{{ taskHistory.task.mesosTask.executor.executorId.value }}</pre>
        </div>
    </div>
</section>