<header class="jumbotron subhead" id="overview">
    <h3><a href="{{#appRoot}}{{/appRoot}}request/{{ request.id }}" data-route="request/{{ request.id }}">{{#hardBreak request.id}}{{/hardBreak}}</a></h3>
    <h1 data-string-length-tens="{{ taskIdStringLengthTens }}">
        {{#hardBreak taskHistory.task.id}}{{/hardBreak}}
        <div class="header-actions">
            <a data-task-id="{{ taskHistory.task.id }}" data-action="viewObjectJSON">JSON</a>
            {{#if taskHistory.task.isStopped}}{{else}}
                <a data-task-id="{{ taskHistory.task.id }}" data-action="remove">Kill task</a>
            {{/if}}
        </div>
    </h1>
    {{#if taskHistory.taskUpdates}}
        {{#eachWithFn taskHistory.taskUpdates}}
            {{#if _first}}
                <p class="lead">
                    {{ statusUpdateHuman }} as of
                    {{ timestampHuman }}
                    {{#if statusMessage}}
                        ({{ statusMessage }})
                    {{/if}}
                </p>
            {{/if}}
        {{/eachWithFn}}
    {{/if}}
</header>

<section>
    <div class="page-header">
        <h1>History</h1>
    </div>
    {{#if taskHistory.taskUpdates}}
        <div class="row-fluid">
            <div class="span12">
                <table class="table" data-sortable>
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Message</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachWithFn taskHistory.taskUpdates}}
                            <tr>
                                <td><span title="{{ statusUpdate }}">{{ statusUpdateHuman }}</span></td>
                                <td>
                                    {{#if statusMessage}}
                                        {{ statusMessage }}
                                    {{else}}
                                        &mdash;
                                    {{/if}}
                                </td>
                                <td data-value="{{ timestamp }}"><span title="{{ timestamp }}">{{ timestampHuman }}</span></td>
                            </tr>
                        {{/eachWithFn}}
                    </tbody>
                </table>
            </div>
        </div>
    {{else}}
        {{#if taskHistory.hasNoTaskUpdates}}
            <div class="empty-table-message"><p>This task has no history yet.</p></div>
            <div class="page-loader-with-message">
                <div class="page-loader centered"></div>
                <p>Refreshing history...</p>
            </div>
        {{else}}
            <div class="page-loader centered"></div>
        {{/if}}
    {{/if}}
</section>

<section>
    <div class="page-header">
        <h1>Files</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {{> filesTable}}
        </div>
    </div>
</section>

<section>
    <div class="page-header">
        <h1>Info</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <dl>
                {{#if taskHistory.task.name }}
                    <dt>Task Name</dt>
                    <dd><pre>{{ taskHistory.task.name }}</pre></dd>
                {{/if}}
                {{#if taskHistory.task.id }}
                    <dt>Task ID</dt>
                    <dd><pre>{{ taskHistory.task.id }}</pre></dd>
                {{/if}}
                {{#if taskHistory.task.mesosTask.executor.executorId.value }}
                    <dt>Executor GUID</dt>
                    <dd><pre>{{ taskHistory.task.mesosTask.executor.executorId.value }}</pre></dd>
                {{/if}}
                {{#if taskHistory.directory }}
                    <dt>Directory</dt>
                    <dd><pre>{{ taskHistory.directory }}</pre></dd>
                {{/if}}
                {{#if taskHistory.task.offer.hostname }}
                    <dt>Hostname</dt>
                    <dd><pre>{{ taskHistory.task.offer.hostname }}</pre></dd>
                {{/if}}
                {{#if taskHistory.task.taskRequest.request.executorData.ports }}
                    <dt>Task request ports</dt>
                    <dd><pre>{{ taskHistory.task.taskRequest.request.executorData.ports }}</pre></dd>
                {{/if}}
            </dl>
        </div>
    </div>
</section>