<section data-task-resource-usage>
    <div class="page-header">
        <h1>Resource Usage</h1>
    </div>
    <ul class="row-fluid horizontal-description-list">
        {{#if taskResourceUsage.cpusNrPeriods }}
            <li class='span4'>
                <div>
                    <h4>CPUs number of periods</h4>
                    <p>{{ taskResourceUsage.cpusNrPeriods }}</p>
                </div>
            </li>
        {{/if}}
        {{#if taskResourceUsage.cpusNrThrottled }}
            <li class='span4'>
                <div>
                    <h4>CPUs number throttled</h4>
                    <p>{{ taskResourceUsage.cpusNrThrottled }}</p>
                </div>
            </li>
        {{/if}}
        {{#if taskResourceUsage.cpusSystemTimeSecs }}
            <li class='span4'>
                <div>
                    <h4>System time (sec)</h4>
                    <p>{{ taskResourceUsage.cpusSystemTimeSecs }}</p>
                </div>
            </li>
        {{/if}}
        {{#if taskResourceUsage.cpusThrottledTimeSecs }}
            <li class='span4'>
                <div>
                    <h4>Throttled time (sec)</h4>
                    <p>{{ taskResourceUsage.cpusThrottledTimeSecs }}</p>
                </div>
            </li>
        {{/if}}
        {{#if taskResourceUsage.cpusUserTimeSecs }}
            <li class='span4'>
                <div>
                    <h4>User time (sec)</h4>
                    <p>{{ taskResourceUsage.cpusUserTimeSecs }}</p>
                </div>
            </li>
        {{/if}}
        {{#if taskResourceUsage.memAnonBytes }}
            <li class='span4'>
                <div>
                    <h4>Memory (anon)</h4>
                    <p>{{ taskResourceUsage.memAnonHuman }}</p>
                </div>
            </li>
        {{/if}}
        {{#if taskResourceUsage.memFileBytes }}
            <li class='span4'>
                <div>
                    <h4>Memory (file)</h4>
                    <p>{{ taskResourceUsage.memFileHuman }}</p>
                </div>
            </li>
        {{/if}}
        {{#if taskResourceUsage.memMappedFileBytes }}
            <li class='span4'>
                <div>
                    <h4>Memory (mapped file)</h4>
                    <p>{{ taskResourceUsage.memMappedFileHuman }}</p>
                </div>
            </li>
        {{/if}}
        {{#if taskResourceUsage.memRssBytes }}
            <li class='span4'>
                <div>
                    <h4>Memory (rss)</h4>
                    <p>{{ taskResourceUsage.memRssHuman }}</p>
                </div>
            </li>
        {{/if}}
        {{#if taskResourceUsage.memLimitBytes }}
            <li class='span4'>
                <div>
                    <h4>Memory (limit)</h4>
                    <p>{{ taskResourceUsage.memLimitHuman }}</p>
                </div>
            </li>
        {{/if}}
    </ul>
</section>
