{{#if tasks.length}}
    <table class="table" data-sortable>
        <thead>
            <tr>
                <th>Name</th>
                <th class="hidden-phone">Started</th>
                <th class="visible-desktop">Host</th>
                <th class="visible-desktop">Rack</th>
                <th class="visible-large-desktop">CPUs</th>
                <th class="visible-large-desktop">Memory</th>
                <th class="hidden-phone" data-sortable="false"></th>
            </tr>
        </thead>
        <tbody>
            {{#eachWithFn tasks}}
                <tr data-task-id="{{ id }}">
                    <td><a class="ellipsize-300" title="{{ id }}" href="{{#appRoot}}{{/appRoot}}task/{{ id }}" data-route="task/{{ id }}">{{#hardBreak name}}{{/hardBreak}}</a></td>
                    <td class="hidden-phone" data-value="{{ startedAt }}"><span title="{{ startedAt }}">{{ startedAtHuman }}</span></td>
                    <td class="visible-desktop">{{ host }}</td>
                    <td class="visible-large-desktop">{{ rack }}</td>
                    <td class="visible-large-desktop">{{ resources.cpus }}</td>
                    <td class="visible-desktop" data-value="{{ resources.memoryMb }}">{{ memoryHuman }}</td>
                    <td class="actions-column hidden-phone">
                        <a data-task-id="{{ id }}" data-action="viewJSON">JSON</a>
                        <a data-task-id="{{ id }}" data-action="remove">Kill task</a>
                    </td>
                </tr>
            {{/eachWithFn}}
        </tbody>
    </table>
{{else}}
    {{#if collectionSynced}}
        <div class="empty-table-message"><p>No active tasks</p></div>
    {{else}}
        <div class="page-loader centered cushy"></div>
    {{/if}}
{{/if}}