<header class="jumbotron subhead" id="overview">
    <h1>{{#hardBreak taskHistory.task.name}}{{/hardBreak}}</h1>
    <p class="lead">{{#hardBreak taskHistory.task.id}}{{/hardBreak}}</p>
</header>

<section>
    <div class="page-header">
        <h1>History</h1>
    </div>
    {{#if taskHistory.taskUpdates}}
        <div class="row-fluid">
            <div class="span12">
                <table class="table" data-sortable="true">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Message</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#eachWithFn taskHistory.taskUpdates}}
                            <tr>
                                <td><span title="{{ statusUpdate }}">{{ statusUpdateHuman }}</span></td>
                                <td>{{ statusMessage }}</td>
                                <td data-value="{{ timestamp }}"><span title="{{ timestamp }}">{{ timestampHuman }}</span></td>
                            </tr>
                        {{/eachWithFn}}
                    </tbody>
                </table>
            </div>
        </div>
    {{else}}
        <div class="page-loader centered"></div>
    {{/if}}
    <div class="page-header">
        <h1>Log Files</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <p><a href="{{ taskHistory.mesosMasterLogsLink }}" target="_blank">View logs on Mesos Master</a></p>
            <table class="table" data-sortable="true">
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th>Size</th>
                        <th>Last modified</th>
                        <th data-sort="false"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#eachWithFn taskLogFiles}}
                        <tr>
                            <td><a href="{{ ../taskHistory.mesosMasterLogsLink }}" target="_blank">{{ shortPath }}</a></td>
                            <td data-value="{{ size }}">{{ size }}B</td>
                            <td data-value="{{ mtime }}"><span title="{{ mtime }}">{{ mtimeHuman }}</span></td>
                            <td><a href="{{ downloadLink }}" target="_blank">Download</span></td>
                        </tr>
                    {{/eachWithFn}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="page-header">
        <h1>JSON</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <pre>{{ taskHistory.task.JSONString }}</pre>
        </div>
    </div>
</section>