{{! Part of taskBase }}
<header class="jumbotron subhead" id="overview">
    {{#with taskHistory.task.taskRequest}}
        <h3>
            Request
            <a href="{{#appRoot}}{{/appRoot}}/request/{{ request.id }}">
                {{ request.id }}
            </a>
        </h3>
    {{/with}}
    <h1>
        {{ taskHistory.task.id }}
        <div class="header-actions">
            <a data-task-id="{{ taskHistory.task.id }}" data-action="viewObjectJSON">JSON</a>
            {{#unless taskHistory.task.isStopped}}
                <a data-task-id="{{ taskHistory.task.id }}" data-action="remove">Kill task</a>
            {{/unless}}
        </div>
    </h1>
    {{#if taskHistory.taskUpdates}}
        {{#eachWithFn taskHistory.taskUpdates}}
            {{#if _last}}
                <p class="lead">
                    {{ taskStateHuman }} as of
                    {{ timestampHuman }}
                    {{#if statusMessage}}
                        &mdash; {{ statusMessage }}
                    {{/if}}
                </p>
            {{/if}}
        {{/eachWithFn}}
    {{/if}}
</header>
