<p>
    We cannot distribute {{ instances }} 
    {{#if notOneInstance}}
        instances
    {{else}}
        instance
    {{/if}}
    evenly across our {{ racks }} 
    {{#if notOneRack}}
        racks.
    {{else}}
        rack.
    {{/if}}
    This will result in increased load on {{mod}} 
    {{#if modNotOne}}
        racks.
    {{else}}
        rack.
    {{/if}}
</p>
<p>
    We suggest scaling to 
    {{#if lower}}
        either <strong>{{ lower }}</strong> or
    {{/if}}
    <strong>{{ higher }}</strong> instances.
    How many instances would you like to scale to?
</p>
<div id="instances">
    {{#if lower}}
        <input type="radio" name="instances" id="lower" value="{{ lower }}"> <label for="lower" id="lower-label">{{ lower }} instances</label><br/>
    {{/if}}
    <input type="radio" name="instances" id="default" value="{{ instances }}" checked> <label for="default" id="default-label">{{ instances }}
    {{#if notOneInstance}}
        instances
    {{else}}
        instance
    {{/if}}
    </label><br/>
    <input type="radio" name="instances" id="higher" value="{{ higher }}"> <label for="higher" id="higher-label">{{ higher }} instances</label><br/>
</div>
<br />
<div id="opt-out">
    <label for='opt-out-box' id='opt-out-box-label'>
        <input type='checkbox' name='optOut' id='opt-out-box' value='opt-out'>
        Don't ask again for this request, for any user
    </label>
</div>
