<p>Are you sure you want to immediately launch a task for this request?</p>
<pre>{{ id }}</pre>

<p>Additional command line input: <small>(optional)</small></p>
<div class="vex-dialog-input">
	<input id='commandLineInput' name="commandLineInput" type="text" class="vex-dialog-prompt-input" placeholder="" value="{{ command }}">
</div>
<hr class='border-color-light-gray'>

<p><label class='label-light'><input id="autoTail" name="autoTail" type="checkbox"> Wait for task to start, then start tailing:</label></p>
<div id="noFilenameError" class="alert alert-warning hide" role="alert">Please enter a filename or uncheck the box</div>
<div class="vex-dialog-input">
	<input id='filename' name="filename" type="text" class="vex-dialog-prompt-input" placeholder="e.g. service.log" value="">
</div>

<script>
	// Need to handle this event here since it's inside vex...
	$("#commandLineInput").keydown(function(e) {
		var inc = 0;
		switch(e.which) {
      case 38: // up
				inc = 1;
	      break;
      case 40: // down
				inc = -1;
	      break;
      default: return;
    }
		if ("{{ prefix }}" !== "") {
			var index = parseInt(localStorage.getItem("{{ prefix }}" + "historyIndex"));
			var length = parseInt(localStorage.getItem("{{ prefix }}" + "historyLength"));
			index += inc;
			if (index < 0) {
				index = 0
			} else if (index > length - 1) {
				index = length - 1;
			}
			localStorage.setItem("{{ prefix }}" + "historyIndex", index);
			cmdString = "{{ commands }}";
			commands = cmdString ? cmdString.split(",").reverse() : []
			$("#commandLineInput").val(commands[index]);
		}
    e.preventDefault();
	});
</script>
