<p>
	Are you sure you want to cancel decommission and reactivate this {{ type }}??
</p>

<pre>
    {{#if host }}
        {{ host }}
    {{else}}
        {{ id }}
    {{/if}}
</pre>

<p>
	Reactivating a {{ type }} will cancel the decommission without erasing the {{ type }}'s history and move it back to the active state.
</p>
