<div class="page-header">
    <h2>Deploy history</h2>
</div>
{{#if data.length}}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Deploy ID</th>
                        <th>Status</th>
                        <th class="hidden-xs">User</th>
                        <th class="hidden-xs">Timestamp</th>
                        <th class="hidden-xs"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                        <tr data-id="{{ deployId }}" data-collection="deployHistory">
                            <td>{{ deployId }}</td>
                            <td>{{ deployResult.deployStateHuman }}</td>
                            <td class="hidden-xs">{{ user }}</td>
                            <td class="hidden-xs" data-value="{{ timestamp }}">{{ timestampHuman }}</td>
                            <td class="hidden-xs actions-column">
                                <a data-action="viewJSON">
                                    <span class="glyphicon glyphicon-th-list" title="JSON"></span>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
{{else}}
    {{#if synced}}
        <div class="empty-table-message">
            No deploys
        </div>
    {{else}}
        <div class="page-loader centered cushy"></div>
    {{/if}}
{{/if}}
