{{! Part of requestBase }}
<header class='detail-header'>
    <div class="row">
        {{! Left side, info }}
        <div class="col-md-7">
            <h4>
                <a class="star" data-action="starToggle" data-starred="{{ data.starred }}" data-id="{{ data.id }}">
                    <span class="glyphicon glyphicon-star"></span>
                </a>

                <span class="request-state" data-state="{{ data.state }}">
                    {{humanizeText data.state}}
                </span>

                <span class="request-type">
                    {{humanizeText data.type}}
                </span>
            </h4>

            <h2>
                {{ data.id }}
            </h2>
        </div>

        {{! Right side, buttons }}
        <div class="col-md-5 button-container">
            <a class="btn btn-default" data-request-id="{{ data.id }}" data-action="viewObjectJSON">
                JSON
            </a>

            {{#unless config.hideNewDeployButton}}
            <a href="{{appRoot}}/request/{{data.id}}/deploy" class="btn btn-success">
                Deploy
            </a>
            {{/unless}}

            {{#if data.canBeRunNow}}
                {{#unless data.deleted}}
                    <a class="btn btn-primary" data-request-id="{{ data.id }}" data-request-type="{{ data.type }}" data-action="run-request-now">
                        Run now
                    </a>
                {{/unless}}
            {{/if}}

            {{#if data.inCooldown}}
                <a class="btn btn-primary" data-request-id="{{ data.id }}" data-request-type="{{ data.type }}" data-action="exit-cooldown">
                    Exit Cooldown
                </a>
            {{/if}}

            {{#if data.canBeScaled}}
                <a class="btn btn-primary" data-request-id="{{ data.id }}" data-action="scale" {{#if scaleDisabled }}disabled{{/if}}>
                    Scale
                </a>
            {{/if}}

            {{#unless data.deleted}}
                {{#if data.paused}}
                    <a class="btn btn-primary" data-request-id="{{ data.id }}" data-action="unpause" {{#if pauseDisabled }}disabled{{/if}}>
                        Unpause
                    </a>
                {{else}}
                    <a class="btn btn-primary" data-request-id="{{ data.id }}" data-action="pause" {{#if pauseDisabled }}disabled{{/if}}>
                        Pause
                    </a>
                {{/if}}
            {{/unless}}

            {{#if data.canBeBounced}}
                <a class="btn btn-primary" data-request-id="{{ data.id }}" data-action="bounce" {{#if bounceDisabled }}disabled{{/if}}>
                    Bounce
                </a>
            {{/if}}

            {{#unless config.hideNewRequestButton}}
                <a class="btn btn-primary" href="{{appRoot}}/requests/edit/{{ data.id }}">
                    Edit
                </a>
            {{/unless}}

            {{#if canDisableHealthchecks}}
                {{#if data.request.skipHealthchecks}}
                  <a class="btn btn-warning" data-request-id="{{ data.id }}" data-action="enableHealthchecks">
                      Enable Healthchecks
                  </a>
                {{else}}
                  <a class="btn btn-primary" data-request-id="{{ data.id }}" data-action="disableHealthchecks">
                      Disable Healthchecks
                  </a>
                {{/if}}
            {{/if}}

            {{#unless data.deleted}}
                <a class="btn btn-danger" data-request-id="{{ data.id }}" data-action="remove">
                    Remove
                </a>
            {{/unless}}
        </div>
    </div>

    {{#if isBouncing}}
    <div class="alert alert-warning" role="alert">
        <b>Request is bouncing:</b> {{ runningInstanceCount }} of {{ data.instances }} replacement tasks are currently running.
    </div>
    {{/if}}

    {{#if isDeploying}}
        <div class="well">
            <p>
                <b>Deploy </b><code><a href="{{appRoot}}/request/{{ data.id }}/deploy/{{ data.pendingDeploy.id }}">{{data.pendingDeploy.id}}</a></code><b> is pending:</b>
                {{#if data.pendingDeployState.deployProgress}}
                    {{#ifEqual data.pendingDeployState.deployProgress.targetActiveInstances data.instances}}
                        {{ deployingInstanceCount }} of {{ data.instances }} new tasks are currently running.{{#ifEqual deployingInstanceCount data.instances}} Waiting for new tasks to become healthy.{{/ifEqual}}
                    {{else}}
                        {{#if data.pendingDeployState.deployProgress.stepComplete}}
                            {{#if data.pendingDeployState.deployProgress.autoAdvanceDeploySteps}}
                                Finished deploying {{data.pendingDeployState.deployProgress.targetActiveInstances}} of {{ data.instances }} total instances, next deploy step {{timestampFromNow nextDeployStepTimestamp}}
                            {{else}}
                                Finished deploying {{data.pendingDeployState.deployProgress.targetActiveInstances}} of {{ data.instances }} total instances, waiting for manual trigger of next deploy step.
                            {{/if}}
                        {{else}}
                            Trying to deploy {{data.pendingDeployState.deployProgress.targetActiveInstances}} of {{ data.instances }} instances, {{ deployingInstanceCount }} of {{data.pendingDeployState.deployProgress.targetActiveInstances}} new tasks are currently running.
                        {{/if}}
                    {{/ifEqual}}
                {{else}}
                    {{ deployingInstanceCount }} of {{ data.instances }} new tasks are currently running.
                {{/if}}
                <span class="pull-right">
                    {{#if data.pendingDeployState.deployProgress}}
                        {{#ifNotEqual data.pendingDeployState.deployProgress.targetActiveInstances data.instances}}
                            <a style="text-align: right;" class="btn btn-primary" data-action="stepDeploy">
                                Advance Deploy
                            </a>
                        {{/ifNotEqual}}
                    {{/if}}
                    <a class="btn btn-warning" style="text-align: right;" data-action="cancelDeploy">
                        Cancel Deploy
                    </a>
                </span>
            </p>
        </div>
    {{/if}}

    {{! Active deploy well }}
    <div class="well">
        {{#if data.activeDeploy}}
            Active deploy
            <code>
                <a href="{{appRoot}}/request/{{ data.id }}/deploy/{{ data.activeDeploy.id }}">
                  {{ data.activeDeploy.id }}</a></code>
            {{#with data.activeDeploy}}
                {{#if metadata.deployedBy}}
                    by <strong>{{usernameFromEmail metadata.deployedBy}}</strong>
                {{/if}}
                {{#if timestamp}}
                    &mdash;
                    {{timestampFromNow timestamp}}
                {{/if}}
            {{/with}}
        {{else}}
            <span class="text-danger">
                No active deploy
            </span>
        {{/if}}

        <a data-action="expand-deploy-history" class="pull-right">
            Deploy history
        </a>
    </div>
</header>
