<div class="page-header">
    <h2>Request history</h2>
</div>
{{#if data.length}}
    <div class="table-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        State
                    </th>
                    <th>
                        User
                    </th>
                    <th class="hidden-xs">
                        Created
                    </th>
                    <th class="hidden-xs">
                        Message
                    </th>
                    <th class="hidden-xs">
                        {{! Actions }}
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                    <tr data-id="{{ createdAt }}" data-collection="requestHistory">
                        <td>
                            {{humanizeText eventType}}
                        </td>
                        <td>
                            {{usernameFromEmail user}}
                        </td>
                        <td class="hidden-xs" data-value="{{ createdAt }}">
                            {{timestampFromNow createdAt}}
                        </td>
                        <td class="hidden-xs">
                            {{message}}
                        </td>
                        <td class="hidden-xs actions-column">
                            <a data-action="viewJSON" title="JSON">
                                { }
                            </a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{else}}
    {{#if synced}}
        <div class="empty-table-message">
            No historical tasks
        </div>
    {{else}}
        <div class="page-loader centered cushy"></div>
    {{/if}}
{{/if}}
