{{#if data}}
    <div class="page-header">
        <h2>Scheduled &amp; pending tasks</h2>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Next run
                </th>
                <th class="hidden-xs">
                    {{! Actions }}
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
                <tr data-id="{{ id }}" data-collection="scheduledTasks">
                    <td>
                        <span title="{{ id }}">{{ id }}</span>
                    </td>
                    <td data-value="{{ pendingTask.pendingTaskId.nextRunAt }}">
                        {{timestampFromNow pendingTask.pendingTaskId.nextRunAt}}
                        {{#ifTimestampSecondsInPast pendingTask.pendingTaskId.nextRunAt ../config.pendingWithinSeconds }}
                            <span class="label label-danger">OVERDUE</span>
                        {{else}}
                            {{#ifTimestampSecondsInFuture pendingTask.pendingTaskId.nextRunAt ../config.pendingWithinSeconds }}
                                <span class="label label-default">SCHEDULED</span>
                            {{else}}
                                <span class="label label-info">PENDING</span>
                            {{/ifTimestampSecondsInFuture}}
                        {{/ifTimestampSecondsInPast}}
                    </td>
                    <td class="hidden-xs actions-column">
                        {{#unless ../request.attributes.daemon}}
                            <a data-action="run-now" title="Run now">
                                <span class="glyphicon glyphicon-flash"></span>
                            </a>
                        {{/unless}}
                        <a data-action="viewJSON" title="JSON">
                            { }
                        </a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{/if}}
