{{! Part of requestBase }}
<header class='detail-header'>
    <div class="row">
        {{! Left side, info }}
        <div class="col-md-7">
            <h4>
                <a class="star" data-action="starToggle" data-starred="{{ data.starred }}" data-id="{{ data.id }}">
                    <span class="glyphicon glyphicon-star"></span>
                </a>

                <span class="request-state" data-state="{{ data.state }}">
                    {{humanizeText data.state}}
                </span>

                <span class="request-type">
                    {{humanizeText data.type}}
                </span>
            </h4>

            <h2>
                {{ data.id }}
            </h2>
        </div>

        {{! Right side, buttons }}
        <div class="col-md-5 button-container">
            <a class="btn btn-default" data-request-id="{{ data.id }}" data-action="viewObjectJSON">
                JSON
            </a>

            {{#unless config.hideNewDeployButton}}
            <a href="{{appRoot}}/request/{{data.id}}/deploy" class="btn btn-success">
                Deploy
            </a>
            {{/unless}}

            {{#if data.canBeRunNow}}
                {{#unless data.deleted}}
                    <a class="btn btn-primary" data-request-id="{{ data.id }}" data-request-type="{{ data.type }}" data-action="run-request-now">
                        Run now
                    </a>
                {{/unless}}
            {{/if}}

            {{#if data.inCooldown}}
                <a class="btn btn-primary" data-request-id="{{ data.id }}" data-request-type="{{ data.type }}" data-action="exit-cooldown">
                    Exit Cooldown
                </a>
            {{/if}}

            {{#if data.canBeScaled}}
                <a class="btn btn-primary" data-request-id="{{ data.id }}" data-action="scale">
                    Scale
                </a>
            {{/if}}

            {{#unless data.deleted}}
                {{#if data.paused}}
                    <a class="btn btn-primary" data-request-id="{{ data.id }}" data-action="unpause">
                        Unpause
                    </a>
                {{else}}
                    <a class="btn btn-primary" data-request-id="{{ data.id }}" data-action="pause">
                        Pause
                    </a>
                {{/if}}
            {{/unless}}

            {{#if data.canBeBounced}}
                <a class="btn btn-primary" data-request-id="{{ data.id }}" data-action="bounce">
                    Bounce
                </a>
            {{/if}}

            {{#unless config.hideNewRequestButton}}
                <a class="btn btn-primary" href="{{appRoot}}/requests/edit/{{ data.id }}">
                    Edit
                </a>
            {{/unless}}

            {{#unless data.deleted}}
                <a class="btn btn-danger" data-request-id="{{ data.id }}" data-action="remove">
                    Remove
                </a>
            {{/unless}}
        </div>
    </div>

    {{#if isBouncing}}
    <div class="alert alert-warning" role="alert">
        <b>Request is bouncing:</b> {{ runningInstanceCount }} of {{ data.instances }} instances are currently running.
    </div>
    {{/if}}

    {{! Active deploy well }}
    <div class="well">
        {{#if data.activeDeploy}}
            Active deploy
            <code>
                <a href="{{appRoot}}/request/{{ data.id }}/deploy/{{ data.activeDeploy.id }}">
                  {{ data.activeDeploy.id }}</a></code>
            {{#with data.activeDeploy}}
                {{#if metadata.deployedBy}}
                    by <strong>{{usernameFromEmail metadata.deployedBy}}</strong>
                {{/if}}
                {{#if timestamp}}
                    &mdash;
                    {{timestampFromNow timestamp}}
                {{/if}}
            {{/with}}
        {{else}}
            <span class="text-danger">
                No active deploy
            </span>
        {{/if}}

        <a data-action="expand-deploy-history" class="pull-right">
            Deploy history
        </a>
    </div>
</header>
