<div class="page-header">
    <h2>
        Deploy history
    </h2>
</div>
{{#if data.length}}
    <div class="table-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Deploy ID</th>
                    <th>Status</th>
                    <th class="hidden-xs">User</th>
                    <th class="hidden-xs">Timestamp</th>
                    <th class="hidden-xs"></th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                    <tr data-id="{{ deployMarker.deployId }}" data-collection="deployHistory">
                        <td>
                          <a href="{{appRoot}}/request/{{ deployMarker.requestId }}/deploy/{{ deployMarker.deployId }}">
                            {{ deployMarker.deployId }}
                          </a>
                        </td>
                        <td>
                            {{humanizeText deployResult.deployState}}
                        </td>
                        <td class="hidden-xs">
                            {{usernameFromEmail deployMarker.user}}
                        </td>
                        <td class="hidden-xs" data-value="{{ deployMarker.timestamp }}">
                            {{timestampFromNow deployMarker.timestamp}}
                        </td>
                        <td class="hidden-xs actions-column">
                            <a data-action="viewJSON" title="JSON">
                                { }
                            </a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{else}}
    <div class="empty-table-message">
        No deploys
    </div>
{{/if}}
