{{#unless rowsOnly}}
    {{#if haveTasks}}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-sort-attribute="taskId.id">
                        Name
                    </th>
                    <th class="hidden-xs" data-sort-attribute="taskId.startedAt">
                        Started
                    </th>
                    <th class="hidden-xs" data-sort-attribute="host">
                        Host
                    </th>
                    <th class="hidden-xs" data-sort-attribute="taskId.rackId">
                        Rack
                    </th>
                    <th class="visible-lg" data-sort-attribute="cpus">
                        CPUs
                    </th>
                    <th class="visible-lg" data-sort-attribute="memoryMb">
                        Memory
                    </th>
                    <th class="hidden-xs">
                        {{! Actions column }}
                    </th>
                </tr>
            </thead>
            <tbody>
    {{/if}}
{{/unless}}
            {{#each tasks}}
                <tr data-task-id="{{ taskId.id }}" data-task-host="{{ host }}">
                    <td class='keep-in-check'>
                        <a title="{{ taskId.id }}" href="{{appRoot}}/task/{{ taskId.id }}">
                            {{ taskId.id }}
                        </a>
                    </td>
                    <td class="hidden-xs" data-value="{{taskId.startedAt}}">
                        {{timestampFromNow taskId.startedAt}}
                    </td>
                    <td class="hidden-xs">
                        {{ host }}
                        {{#ifTaskInList ../decomissioning_tasks taskId.id}}
                            <span class='label label-warning'>DECOM</span>
                        {{/ifTaskInList}}
                    </td>
                    <td class="visible-lg">
                        {{ rackId }}
                    </td>
                    <td class="visible-lg">
                        {{ cpus }}
                    </td>
                    <td class="hidden-xs" data-value="{{ memoryMb }}">
                        {{ memoryMb }} MB
                    </td>
                    <td>
                        {{#if pendingTask.pendingTaskId}}
                            {{#ifTimestampInPast pendingTask.pendingTaskId.nextRunAt}}
                                <span class="label label-danger">OVERDUE</span>
                            {{/ifTimestampInPast}}
                        {{/if}}
                    </td>
                    <td class="actions-column hidden-xs">
                        <a data-task-id="{{ taskId.id }}" data-action="remove" title="Kill task">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a data-task-id="{{ taskId.id }}" data-action="viewJSON" title="JSON">
                            { }
                        </a>
                    </td>
                </tr>
            {{/each}}
{{#unless rowsOnly}}
    {{#if haveTasks}}
            </tbody>
        </table>
    {{else}}
        {{#if collectionSynced}}
            <div class="empty-table-message"><p>No active tasks</p></div>
        {{else}}
            <div class="page-loader centered cushy"></div>
        {{/if}}
    {{/if}}
{{/unless}}
