{{#unless rowsOnly}}
    {{#if haveTasks}}
        <table class="table table-striped sortable-theme-bootstrap" data-sortable>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Started
                    </th>
                    <th>
                        Host
                    </th>
                    <th>
                        Rack
                    </th>
                    <th>
                        Instance No
                    </th>
                    <th class="hidden-xs">
                        {{! JSON Column }}
                    </th>
                </tr>
            </thead>
            <tbody>
    {{/if}}
{{/unless}}
            {{#each tasks}}
                <tr data-task-id="{{ id }}">
                    <td class='keep-in-check'>
                        <a title="{{ id }}" href="{{appRoot}}/task/{{ id }}">
                            {{ id }}
                        </a>
                    </td>
                    <td>
                        {{timestampFromNow startedAt}}
                    </td>
                    <td>
                        {{host}}
                    </td>
                    <td>
                        {{rackId}}
                    </td>
                    <td>
                        {{instanceNo}}
                    </td>
                    <td class="actions-column hidden-xs">
                        <a data-task-id="{{ taskId.id }}" data-action="viewJSON" title="JSON">
                            { }
                        </a>
                    </td>
                </tr>
            {{/each}}
{{#unless rowsOnly}}
    {{#if haveTasks}}
        </tbody>
    </table>
    {{else}}
        {{#if collectionSynced}}
            <div class="empty-table-message"><p>No LB cleaning tasks</p></div>
        {{else}}
            <div class="page-loader centered cushy"></div>
        {{/if}}
    {{/if}}
{{/unless}}
