<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li {{#ifEqual tasksFilter "active"}}class="active"{{/ifEqual}}>
                <a href="{{appRoot}}/tasks" class='has-tooltip' title="Currently running" data-toggle='tooltip'>Active</a>
            </li>
            <li {{#ifEqual tasksFilter "scheduled"}}class="active"{{/ifEqual}}>
                <a href="{{appRoot}}/tasks/scheduled" class='has-tooltip' title="Will run at next scheduled interval" data-toggle='tooltip'>Scheduled</a>
            </li>
            <li {{#ifEqual tasksFilter "cleaning"}}class="active"{{/ifEqual}}>
                <a href="{{appRoot}}/tasks/cleaning" class='has-tooltip' title="Have been asked to shut down" data-toggle='tooltip'>Cleaning</a>
            </li>
            <li {{#ifEqual tasksFilter "lbcleanup"}}class="active"{{/ifEqual}}>
                <a href="{{appRoot}}/tasks/lbcleanup" class='has-tooltip' title="Being removed from the load balancer" data-toggle='tooltip'>LB Cleaning</a>
            </li>
            <li {{#ifEqual tasksFilter "decommissioning"}}class="active"{{/ifEqual}}>
                <a href="{{appRoot}}/tasks/decommissioning" class='has-tooltip' title="Being killed due to a decommissioning slave" data-toggle='tooltip'>Decommissioning</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <input disabled type="search" class="big-search-box" placeholder="Loading tasks..." value="{{ searchFilter }}" required maxlength="128">
    </div>

    <div class="col-md-12">
        <div class="requests-filter-container">
            {{> requestsFilter}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 table-staged">
        {{> tasksBody}}
    </div>
</div>
