<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li {{#ifEqual tasksFilter "active"}}class="active"{{/ifEqual}}>
                <a href="{{appRoot}}/tasks">Active</a>
            </li>
            <li {{#ifEqual tasksFilter "scheduled"}}class="active"{{/ifEqual}}>
                <a href="{{appRoot}}/tasks/scheduled">Scheduled</a>
            </li>
            <li {{#ifEqual tasksFilter "cleaning"}}class="active"{{/ifEqual}}>
                <a href="{{appRoot}}/tasks/cleaning">Cleaning</a>
            </li>
            <li {{#ifEqual tasksFilter "lbcleanup"}}class="active"{{/ifEqual}}>
                <a href="{{appRoot}}/tasks/lbcleanup">LB Cleaning</a>
            </li>
            <li {{#ifEqual tasksFilter "decommissioning"}}class="active"{{/ifEqual}}>
                <a href="{{appRoot}}/tasks/decommissioning">Decommissioning</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <input disabled type="search" class="big-search-box" placeholder="Loading tasks..." value="{{ searchFilter }}" required maxlength="128">
    </div>

    <div class="col-md-12">
        <div class="requests-filter-container">
            {{> requestsFilter}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 table-staged">
        {{> tasksBody}}
    </div>
</div>
