{{#unless rowsOnly}}
    {{#if haveTasks}}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-sort-attribute="id">
                        Task ID
                    </th>
                    <th data-sort-attribute="startedAt">
                        Started At
                    </th>
                    <th data-sort-attribute="host">
                        Host
                    </th>
                    <th data-sort-attribute="rackId">
                        Rack
                    </th>
                    <th data-sort-attribute="instanceNo">
                        Instance No
                    </th>
                    <th class="hidden-xs">
                        {{! JSON Column }}
                    </th>
                </tr>
            </thead>
            <tbody>
    {{/if}}
{{/unless}}
            {{#each tasks}}
                <tr data-task-id="{{ id }}">
                    <td class='keep-in-check'>
                        <a title="{{ id }}" href="{{appRoot}}/task/{{ id }}">
                            {{ id }}
                        </a>
                    </td>
                    <td>
                        {{timestampFromNow startedAt}}
                    </td>
                    <td>
                        <a href='{{appRoot}}/tasks/lbcleanup/all/{{host}}'>
                            {{host}}
                        </a>
                    </td>
                    <td>
                        <a href='{{appRoot}}/tasks/lbcleanup/all/{{rackId}}'>
                            {{ rackId }}
                        </a>
                    </td>
                    <td>
                        {{instanceNo}}
                    </td>
                    <td class="actions-column hidden-xs">
                        <a data-task-id="{{ taskId.id }}" data-action="viewJSON" title="JSON">
                            { }
                        </a>
                    </td>
                </tr>
            {{/each}}
{{#unless rowsOnly}}
    {{#if haveTasks}}
        </tbody>
    </table>
    {{else}}
        {{#if collectionSynced}}
            <div class="empty-table-message"><p>No LB cleaning tasks</p></div>
        {{else}}
            <div class="page-loader centered cushy"></div>
        {{/if}}
    {{/if}}
{{/unless}}
