{{#unless rowsOnly}}
    {{#if haveTasks}}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-sort-attribute="id">
                        Name
                    </th>
                    <th class="hidden-xs" data-sort-attribute="pendingTask.pendingTaskId.nextRunAt">
                        Next run
                    </th>
                    <th data-sort-attribute="pendingTask.pendingTaskId.pendingType">
                        Pending Type
                    </th>
                    <th data-sort-attribute="pendingTask.pendingTaskId.deployId">
                        Deploy ID
                    </th>
                    <th class="hidden-xs">
                        {{! Actions column }}
                    </th>
                </tr>
            </thead>
            <tbody>
    {{/if}}
{{/unless}}
            {{#each tasks}}
                <tr data-task-id="{{ id }}">
                    <td>
                        <a href="{{appRoot}}/request/{{pendingTask.pendingTaskId.requestId}}">{{ id }}</a>
                    </td>
                    <td class="hidden-xs">
                        {{timestampFromNow pendingTask.pendingTaskId.nextRunAt}}
                        {{#ifTimestampSecondsInPast pendingTask.pendingTaskId.nextRunAt ../config.pendingWithinSeconds }}
                            <span class="label label-danger">OVERDUE</span>
                        {{else}}
                            {{#ifTimestampSecondsInFuture pendingTask.pendingTaskId.nextRunAt ../config.pendingWithinSeconds }}
                                <span class="label label-default">SCHEDULED</span>
                            {{else}}
                                <span class="label label-info">PENDING</span>
                            {{/ifTimestampSecondsInFuture}}
                        {{/ifTimestampSecondsInPast}}
                    </td>
                    <td>
                        {{humanizeText pendingTask.pendingTaskId.pendingType}}
                    </td>
                    <td>
                        {{pendingTask.pendingTaskId.deployId}}
                    </td>
                    <td class="actions-column hidden-xs">
                        <a data-task-id="{{ id }}" data-action="run-now" title="Run now">
                            <span class="glyphicon glyphicon-flash"></span>
                        </a>
                        <a data-task-id="{{ id }}" data-nextRunAt="{{ pendingTask.pendingTaskId.nextRunAt}}" data-request-id="{{ pendingTask.pendingTaskId.requestId }}" data-action="viewJSON" title="JSON">
                            { }
                        </a>
                    </td>
                </tr>
            {{/each}}
{{#unless rowsOnly}}
    {{#if haveTasks}}
        </tbody>
    </table>
    {{else}}
        {{#if collectionSynced}}
            <div class="empty-table-message"><p>No scheduled tasks</p></div>
        {{else}}
            <div class="page-loader centered cushy"></div>
        {{/if}}
    {{/if}}
{{/unless}}
