{{#unless rowsOnly}}
    {{#if haveTasks}}
        <table class="table table-striped sortable-theme-bootstrap" data-sortable>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Cleanup type
                    </th>
                    <th class="hidden-xs">
                        {{! Warnings Column }}
                    </th>
                    <th class="hidden-xs">
                        {{! Actions column }}
                    </th>
                </tr>
            </thead>
            <tbody>
    {{/if}}
{{/unless}}
            {{#each tasks}}
                <tr data-task-id="{{ taskId.id }}">
                    <td>
                        <a title="{{ taskId.id }}" href="{{appRoot}}/task/{{ taskId.id }}">
                            {{ taskId.id }}
                        </a>
                    </td>
                    <td>
                        {{humanizeText cleanupType}}
                    </td>
                    <td>
                        {{#if pendingTask.pendingTaskId}}
                            {{#ifTimestampInPast pendingTask.pendingTaskId.nextRunAt}}
                                <span class="label label-danger">OVERDUE</span>
                            {{/ifTimestampInPast}}
                        {{/if}}
                    </td>
                    <td class="actions-column hidden-xs">
                        <a data-task-id="{{ taskId.id }}" data-action="viewJSON" title="JSON">
                            { }
                        </a>
                    </td>
                </tr>
            {{/each}}
{{#unless rowsOnly}}
    {{#if haveTasks}}
        </tbody>
    </table>
    {{else}}
        {{#if collectionSynced}}
            <div class="empty-table-message"><p>No cleaning tasks</p></div>
        {{else}}
            <div class="page-loader centered cushy"></div>
        {{/if}}
    {{/if}}
{{/unless}}
