{{#if data.length }}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Current State</th>
                <th>Uptime</th>
                {{#ifInSubFilter data.[0].state 'DECOMMISSIONING,DECOMMISSIONED,STARTING_DECOMMISSION'}}
                    <th>Decommissioned By</th>
                {{/ifInSubFilter}}
                {{#ifInSubFilter data.[0].state 'ACTIVE'}}
                    <th>Activated By</th>
                {{/ifInSubFilter}}
                <th data-sortable="false"></th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ state }}</td>
                    <td data-value="{{ uptime }}">{{timestampDuration uptime}}</td>
                    {{#ifInSubFilter state 'ACTIVE,DECOMMISSIONING,DECOMMISSIONED,STARTING_DECOMMISSION'}}
                        <td>{{ user }}</td>
                    {{/ifInSubFilter}}
                    <td class="actions-column">
                        <a data-rack-id="{{ id }}" data-state="{{ state }}" data-action="remove" title="Decommission/Remove">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <div class="empty-table-message"><p>No racks</p></div>
{{/if}}
