<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-links">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{appRoot}}/">
                {{title}}
            </a>
        </div>
        
        <div class="collapse navbar-collapse" id="navigation-links">
            <ul class="nav navbar-nav">
                <li {{#ifEqual fragment ""}}class="active"{{/ifEqual}}>
                    <a href="{{appRoot}}/">Dashboard</a>
                </li>
                <li {{#ifEqual fragment "status"}}class="active"{{/ifEqual}}>
                    <a href="{{appRoot}}/status">Status</a>
                </li>
                <li {{#ifEqual fragment "requests"}}class="active"{{/ifEqual}}>
                    <a href="{{appRoot}}/requests">Requests</a>
                </li>
                <li {{#ifEqual fragment "tasks"}}class="active"{{/ifEqual}}>
                    <a href="{{appRoot}}/tasks">Tasks</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{appRoot}}/racks">Racks</a></li>
                        <li><a href="{{appRoot}}/slaves">Slaves</a></li>
                        <li><a href="{{appRoot}}/taskSearch">Task Search</a></li>
                        <li><a href="{{appRoot}}/webhooks">Webhooks</a></li>
                    </ul>
                </li>
                <li>
                    <a target="_blank" href="{{apiDocs}}/">API Docs (beta)</a>
                </li>
                <li>
                    <a class='global-search-button'>
                        <span class="glyphicon glyphicon-search"></span>
                        <span class="icon-search-adjacent-text">Search</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
