<h2>
    New deploy for <a href="{{appRoot}}/request/{{ model.id }}">{{ model.id }}</a>
</h2>

<div class="row new-form">
    <form class="col-md-8">
        <div class="form-group required">
            <label for="id">Deploy ID</label>
            <input type="text" id="id" class="form-control">
        </div>

        <div class="well">
            <div class="row">
                <div class="col-md-4">
                    <h3>Executor Info</h3>
                </div>
                <div class="col-md-8">
                    <div class="form-group required">
                        <label for="executor-type">Executor type</label>
                        <select id="executor-type" class="form-control">
                            <option value="default">Default</option>
                            <option value="custom">Custom</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                  <label for="command">Command to execute</label>
                  <input type="text" id="command" class="form-control" placeholder="eg: rm -rf /">
                </div>
            </div>

            <div class="default-executor">
                <fieldset id="default-expandable" class='expandable'>
                    <h4>Default Executor Settings</h4>

                    <label for="cmd-line-args">Arguments</label>
                    <div class="multi-input">
                        <input id="cmd-line-args" type="text" class="form-control cmd-line-arg">
                    </div>
                
                    <label for=artifacts" >Artifacts</label>
                    <div class="multi-input">
                        <input id="artifacts" type="text" class="form-control artifact-uri" placeholder="eg: http://s3.example/my-artifact">
                    </div>
                </fieldset>
            </div>

            <div class="custom-executor hide">
                <fieldset>
                    <h4>Custom Executor Settingss</h4>

                    <div class="form-group required">
                        <label for="custom-executor-command">Custom executor command</label>
                        <input type="text" id="custom-executor-command" class="form-control" placeholder="eg: /usr/local/bin/singularity-executor">
                    </div>

                    <div class="form-group">
                        <label for="extra-args">Extra command args</label>
                        <div class="multi-input">
                            <input type="text" id="extra-args" class="form-control extra-arg" placeholder="eg: -jar MyThing.jar">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="user">User</label>
                                <input type="text" class="form-control" id="user" placeholder="default: root">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="kill-after-millis">Kill processes after (milisec)</label>
                                <input type="text" class="form-control" id="kill-after-millis" placeholder="default: 120000">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="logging-extra-fields">Successful exit codes</label>
                                <div class="multi-input">
                                    <input type="text" class="form-control successful-exit-code">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="max-task-threads">Max Task Threads</label>
                                <input type="text" class="form-control" id="max-task-threads">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="logging-tag">Logging tag</label>
                                <input type="text" class="form-control" id="logging-tag">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="logging-extra-fields">Logging extra fields</label>
                                <div class="multi-input">
                                    <input type="text" class="form-control extra-field" placeholder="format: key=value">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="preserve-sandbox">
                                    <input type="checkbox" id="preserve-sandbox">
                                    Preserve task sandbox after finish
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="skip-lr-compress">
                                    <input type="checkbox" id="skip-lr-compress">
                                    Skip lorotate compress
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="logging-s3-bucket">Logging S3 Bucket</label>
                                <input type="text" class="form-control" id="logging-s3-bucket">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="max-open-files">Max Open Files</label>
                                <input type="text" class="form-control" id="max-open-files">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="running-sentinel">Running Sentinel</label>
                        <input type="text" class="form-control" id="running-sentinel">
                    </div>
                </fieldset>

                <fieldset>
                    <h4>Custom executor artifacts</h4>

                    <div id="custom-artifacts"></div>

                    <div id="artifact-button-row" class="row">
                        <div class="col-sm-4">
                            <button class="btn btn-success btn-block" data-artifact-type="embedded">
                                <span class="glyphicon glyphicon-plus"></span>
                                Embedded
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-success btn-block" data-artifact-type="external">
                                <span class="glyphicon glyphicon-plus"></span>
                                External
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-success btn-block" data-artifact-type="s3">
                                <span class="glyphicon glyphicon-plus"></span>
                                S3
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="well">
            <div class="row">
                <div class="col-md-4">
                    <h3>Container Info</h3>
                </div>
                <div class="col-md-8">
                    <div class="form-group required">
                        <label for="container-type">Container type</label>
                        <select id="container-type" class="form-control">
                            <option value="mesos">Mesos</option>
                            <option value="docker">Docker</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="container-info hide">
                <fieldset>
                    <h4>Docker Settings</h4>
                    <div class="form-group required">
                        <label for="docker">Docker image</label>
                        <input type="text" id="docker" class="form-control" placeholder="eg: centos6:latest">
                    </div>

                    <div class="form-group">
                        <label for="dockernetwork">Docker Network</label>
                        <select id="dockernetwork" class="form-control">
                            <option value="NONE">None</option>
                            <option value="BRIDGE">Bridge</option>
                            <option value="HOST">Host</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="privileged">
                                    <input type="checkbox" id="privileged">
                                    Privileged
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="force-pull">
                                    <input type="checkbox" id="force-pull">
                                    Force Pull Image
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="docker-params">Docker Parameters</label>
                        <div class="multi-input">
                            <input id="docker-params" type="text" class="form-control docker-parameter" placeholder="format: key=value">
                        </div>
                    </div>

                    <div id="docker-port-mappings"></div>

                    <div id="docker-port-button-row" class="row">
                        <div class="col-sm-6">
                            <button class="btn btn-success btn-block">
                                <span class="glyphicon glyphicon-plus"></span>
                                Docker Port Mapping
                            </button>
                        </div>
                    </div>

                    <div id="docker-volumes"></div> 

                    <div id="docker-volume-button-row" class="row">
                        <div class="col-sm-6">
                            <button class="btn btn-success btn-block">
                                <span class="glyphicon glyphicon-plus"></span>
                                Docker Volume
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="well">
            <h3>Resources</h3>
            <fieldset>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="cpus">CPUs</label>
                        <input type="text" id="cpus" placeholder="default: {{config.defaultCpus}}" class="form-control">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="memory-mb">Memory (MB)</label>
                        <input type="text" id="memory-mb" placeholder="default: {{config.defaultMemory}}" class="form-control">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="num-ports">Num. ports</label>
                        <input type="text" id="num-ports" class="form-control" placeholder="default: 0">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="well">
            <h3>Variables</h3>
            <fieldset>
                <label for="env-vars">Environment variables</label>
                <div class="multi-input">
                    <input id="env-vars" type="text" class="form-control env" placeholder="format: key=value">
                </div>
            </fieldset>
        </div>
        
        {{#if model.daemon}}
            <div class="well">
                <h3>Deploy Health</h3>
                <fieldset>
                    {{#ifEqual model.type 'SERVICE'}}
                        <h4>Healthcheck</h4>
                        <div class="form-group">
                            <label for="healthcheck-uri">Healthcheck URI</label>
                            <input type="text" id="healthcheck-uri" class="form-control">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="healthcheck-interval">HC interval (sec)</label>
                                    <input type="text" id="healthcheck-interval" class="form-control" placeholder="default: 5">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="healthcheck-timeout">HC timeout (sec)</label>
                                    <input type="text" id="healthcheck-timeout" class="form-control" placeholder="default: 5">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="healthcheck-port-index">HC Port Index</label>
                                    <input type="text" id="healthcheck-port-index" class="form-control" placeholder="default: 0 (first allocated port)">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="total-healthcheck-timeout">Total Healthcheck Timeout (sec)</label>
                                    <input type="text" id="total-healthcheck-timeout" class="form-control" placeholder="default: None">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="deploy-healthcheck-timeout">Deploy healthcheck timeout (sec)</label>
                                    <input type="text" id="deploy-healthcheck-timeout" class="form-control" placeholder="default: 120">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="hc-protocol">HC Protocol</label>
                                    <select id="hc-protocol" class="form-control">
                                        <option value="HTTP">HTTP</option>
                                        <option value="HTTPS">HTTPS</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="skip-healthcheck">
                                        <input type="checkbox" id="skip-healthcheck">
                                        Skip healthcheck on deploy
                                    </label>
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <div class="form-group">
                            <label for="consider-healthy-after">Consider Healthy After Running For (sec)</label>
                            <input type="text" id="consider-healthy-after" class="form-control" placeholder="default: 5">
                        </div>
                    {{/ifEqual}}
                </fieldset>
            </div>

            {{#if model.request.loadBalanced}}
                <div class="well">
                    <h3>Load Balancer</h3>
                    <fieldset>
                        <div class="form-group required">
                            <label for="service-base-path">Service base path</label>
                            <input type="text" id="service-base-path" class="form-control" placeholder="eg: /singularity/api/v2">
                        </div>
                        <div class="form-group {{#if model.request.loadBalanced}}required{{/if}}">
                            <label>Load balancer groups</label>
                            <div class="multi-input">
                                <input type="text" class="form-control lb-group">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Load balancer options</label>
                            <div class="multi-input">
                                <input type="text" class="form-control lb-option" placeholder="format: key=value">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lb-port-index">Load balancer port index</label>
                            <input type="text" id="lb-port-index" class="form-control" placeholder="default: 0 (first allocated port)">
                        </div>
                    </fieldset>
                </div>
            {{/if}}
        {{/if}}

        {{#if model.daemon}}
            {{#if model.paused}}
                <div class="well">
                    <div class="form-group">
                        <label for="deploy-to-unpause">
                            <input type="checkbox" id="deploy-to-unpause">
                            Unpause on successful deploy
                        </label>
                    </div>
                </div>
            {{/if}}
        {{/if}}

        <div id="button-row">
            <span>
                <button type="submit" class="btn btn-success btn-lg" disabled>
                    Deploy
                </button>
            </span>
            <button id="reset-button" class="btn btn-default btn-lg hide">
                Reset
            </button>
        </div>
    </form>

    <div id="help-column" class="col-md-4 col-md-offset-1">

    </div>
</div>
