<header>
    <h1>Racks</h1>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Active racks</h1>
        </div>
        {{#if racksActive.length}}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Uptime</th>
                        <th data-sortable="false"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#eachWithFn racksActive}}
                        <tr>
                            <td>{{ id }}</td>
                            <td data-value="{{ uptime }}">{{ uptimeHuman }}</td>
                            <td class="actions-column">
                                <a data-rack-id="{{ id }}" data-action="decomission">
                                    <span class="glyphicon glyphicon-remove" title="Decommission"></span>
                                </a>
                            </td>
                        </tr>
                    {{/eachWithFn}}
                </tbody>
            </table>
        {{else}}
            {{#if fetchDone}}
                <div class="empty-table-message"><p>No active racks</p></div>
            {{else}}
                <div class="page-loader centered"></div>
            {{/if}}
        {{/if}}
    </div>

    <div class="col-md-12">
        <div class="page-header">
            <h1>Dead racks</h1>
        </div>
        {{#if racksDead.length}}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Died</th>
                        <th>Uptime</th>
                        <th data-sortable="false"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#eachWithFn racksDead}}
                        <tr>
                            <td>{{ id }}</td>
                            <td>{{ deadAtHuman }}</td>
                            <td data-value="{{ uptime }}">{{ uptimeHuman }}</td>
                            <td class="actions-column">
                                <a data-rack-id="{{ id }}" data-action="remove">
                                     <span class="glyphicon glyphicon-trash" title="Remove"></span>
                                </a>
                            </td>
                        </tr>
                    {{/eachWithFn}}
                </tbody>
            </table>
        {{else}}
            {{#if fetchDone}}
                <div class="empty-table-message"><p>No dead racks</p></div>
            {{else}}
                <div class="page-loader centered"></div>
            {{/if}}
        {{/if}}
    </div>

    <div class="col-md-12">
        <div class="page-header">
            <h1>Decomissioning racks</h1>
        </div>
        {{#if racksDecomissioning.length}}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>State</th>
                        <th>Triggered by</th>
                        <th>Started</th>
                        <th>Uptime</th>
                        <th data-sortable="false"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#eachWithFn racksDecomissioning}}
                        <tr>
                            <td>{{ id }}</td>
                            <td>{{ state }}</td>
                            <td>{{ decomissioningBy }}</td>
                            <td>{{ decomissioningAtHuman }}</td>
                            <td data-value="{{ uptime }}">{{ uptimeHuman }}</td>
                            <td class="actions-column">
                                <a data-rack-id="{{ id }}" data-action="remove" data-state="{{ state }}">
                                     <span class="glyphicon glyphicon-trash" title="Remove"></span>
                                </a>
                            </td>
                        </tr>
                    {{/eachWithFn}}
                </tbody>
            </table>
        {{else}}
            {{#if fetchDone}}
                <div class="empty-table-message"><p>No decomissioning racks</p></div>
            {{else}}
                <div class="page-loader centered"></div>
            {{/if}}
        {{/if}}
    </div>
</div>
