{{#if synced}}
<div class="row same-size-row-top">
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading--narrow">
                <a href="{{appRoot}}/requests"><h3>Requests</h3></a>
            </div>
            <div class="panel-body">       
                <div class="row same-size-row">
                    <div class="col-md-3 chart">
                        <div class='chart__column'>
                            {{#each requests}}
                                <span style='height: {{percent}}%' title="{{count}} {{label}}" class='chart__data-point chart-fill-{{ type }}'></span>
                            {{/each}}
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row same-size-row">
                            <div class="col-md-8">
                                <ul class="list-group list-group--links list-group--plain list-group--slim">
                                    {{#each requests}}
                                    <li class="list-group-item">
                                        {{#if link}}
                                        <a href="{{appRoot}}{{ link }}">
                                            <span class="chart__legend-fill chart-fill-{{ type }}"> </span>
                                            <span class='chart__label'>{{ count }}  {{ label }} ({{fixedDecimal percent place="0"}}%) </span>
                                        </a>
                                        {{else}}
                                        <span class="badge" id="{{ type }}">{{ count }}</span>
                                        {{ label }}
                                        {{/if}}
                                    </li>
                                    {{/each}}
                                </ul>
                                <ul class='list-plain'>
                                    <li>
                                        <strong>{{state.overProvisionedRequests}}</strong>
                                        Over Provisioned
                                    </li>
                                    <li>
                                        <span {{#ifGT state.underProvisionedRequests 0}}class='color-warning'{{/ifGT}}>
                                            <strong>{{state.underProvisionedRequests}}</strong>
                                            Under Provisioned
                                        <span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading--narrow">
                <a href="{{appRoot}}/tasks"><h3>Tasks</h3></a>
            </div>
            <div class="panel-body">
                <div class="row same-size-row">
                    <div class="col-md-3 chart">
                        <div class='chart__column'>
                            {{#each tasks}}
                                <span style='height: {{percent}}%' title="{{count}} {{label}}" class='chart__data-point chart-fill-{{ type }}'></span>
                            {{/each}}
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row same-size-row">
                            <div class="col-md-8">
                                <ul class="list-group list-group--links list-group--plain list-group--slim">
                                    {{#each tasks}}
                                        

                                    <li class="list-group-item">

                                        <a {{#unless link}}class='inactive-link'{{/unless}} {{#if link}}href="{{appRoot}}{{ link }}"{{/if}}>
                                            <span class="chart__legend-fill chart-fill-{{ type }}"> </span>
                                            <span class='chart__label'>{{ count }} - {{ label }} ({{fixedDecimal percent place="0"}}%)</span>
                                        </a>

                                    </li>


                                    {{/each}}
                                </ul>
                                <ul class="list-group list-group--plain">
                                    <li class="list-group-item">
                                        <strong>
                                            {{timestampDuration state.maxTaskLag}}
                                            {{#ifEqual 0 state.maxTaskLag }}0{{/ifEqual}}
                                        </strong>
                                        Max Task Lag 

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-4">


        <div class="panel panel-default panel--list">
            <div class="panel-heading">
                <a href="{{appRoot}}/racks"><h3 class="panel-title">Racks</h3></a>
            </div>

            <div class="panel-body">
            
                <ul class="list-group list-group--links">
                    <li class="list-group-item">
                        <a href="{{appRoot}}/racks">{{state.activeRacks}} Active Racks</a>
                    </li>
                    <li class="list-group-item {{#ifGT state.decommissioningRacks 0}}color-warning{{/ifGT}}">
                        <a href="{{appRoot}}/racks">{{state.decommissioningRacks}} Decommissioning Racks</a>
                    </li>
                    <li class="list-group-item {{#ifGT state.deadRacks 0}}color-warning{{/ifGT}}">
                        <a href="{{appRoot}}/racks">{{state.deadRacks}} Dead Racks</a>
                    </li>
                </ul>
            
            </div>
        </div>


    </div>



    <div class="col-md-4">
        <div class="panel panel-default panel--list">
            <div class="panel-heading">
                <a href="{{appRoot}}/slaves"><h3 class="panel-title">Slaves</h3></a>
            </div>
            <div class="panel-body">
                <ul class="list-group list-group--links">
                    <li class="list-group-item">
                        <a href="{{appRoot}}/slaves/active"> {{state.activeSlaves}} Active Slaves </a>
                    </li>
                    <li class="list-group-item">
                        <a {{#ifGT state.decommissioningSlaves 0}}class='color-warning'{{/ifGT}} href="{{appRoot}}/slaves/decommission"> {{state.decommissioningSlaves}} Decommissioning Slaves</a>
                    </li>
                    <li class="list-group-item">
                        <a {{#ifGT state.deadSlaves 0}}class='color-warning'{{/ifGT}} href="{{appRoot}}/slaves/inactive"> {{state.deadSlaves}} Dead Slaves </a>
                    </li>
                    <li class="list-group-item">
                        <a {{#ifGT state.unknownSlaves 0}}class='color-warning'{{/ifGT}} href="{{appRoot}}/slaves/inactive"> {{state.unknownSlaves}} Unknown Slaves </a>
                    </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panel--list">
            <div class="panel-heading">
                <a href="{{appRoot}}"><h3 class="panel-title">Deploys</h3></a>
            </div>
            <div class="panel-body">
                <ul class="list-group ">
                    <li class="list-group-item {{#ifLT state.numDeploys 2}}text-muted{{/ifLT}}">
                        <strong>{{state.numDeploys}}</strong>
                        Active Deploys
                    </li>
                    {{#ifNotEqual state.oldestDeploy 0}}
                    <li class="list-group-item">
                        <strong>{{timestampDuration state.oldestDeploy}}</strong>
                         Time since last deploy
                    </li>
                    {{/ifNotEqual}}
                </ul>
            </div>
        </div>
    </div>




</div>
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Singularity schedular instances</h2>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Hostname</th>
                    <th>Driver status</th>
                    <th class="hidden-xs">Uptime</th>
                    <th class="hidden-xs">Time since last offer</th>
                </tr>
            </thead>
            <tbody>
                {{#each state.hostStates}}
                <tr>
                    <td>{{ hostname }}</td>
                    <td {{#ifEqual driverStatus 'DRIVER_NOT_STARTED'}}class='text-muted'{{/ifEqual}}>{{humanizeText driverStatus }}
                    </td>
                    <td data-value="{{ uptime }}" class="hidden-xs">
                        {{timestampDuration uptime}}
                    </td>
                    <td data-value="{{ millisSinceLastOffer }}" class="hidden-xs">
                        {{#if millisSinceLastOffer}}
                        {{timestampDuration millisSinceLastOffer}}
                        {{else}}
                        &mdash;
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{else}}
<div class="page-loader centered cushy"></div>
{{/if}}
