{{#if synced}}
<div class="row page-width-normal">
    <div class="col-md-6 col-sm-6">
        <div>
            <a class='headline-link' href="{{appRoot}}/requests"><h2>Requests</h2></a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-sm-3 hidden-xs chart">
                    <div class='chart__column'>
                        {{#each requests}}
                            <span data-type="column" data-state-attribute='{{ attribute }}' style='height: {{percent}}%' title="{{count}} {{label}}" class='chart__data-point chart-fill-{{ type }}'></span>
                        {{/each}}
                    </div>
                    <h5 class='text-center'>{{totalRequests}} Total</h5>
                </div>
                <div class="col-md-9 col-sm-9">
                    <div class="row">
                        <div class="col-md-8">
                            <ul class="list-group list-group--links list-group--plain list-group--slim list-large">
                                {{#each requests}}
                                <li class="list-group-item">
                                    {{#if link}}
                                        <a class='chart__legend-link' href="{{appRoot}}{{ link }}">
                                            <span class="chart__legend-fill chart-fill-{{ type }}"></span><span class='chart__label'><span data-state-attribute='{{ attribute }}'>{{ count }}</span> {{ label }} <span class='percent'>{{#ifGT percent 0}}({{fixedDecimal percent place="0"}}%){{/ifGT}}</span></span>
                                        </a>
                                    {{else}}
                                        <span class="badge" id="{{ type }}">{{ count }}</span> {{ label }}
                                    {{/if}}
                                </li>
                                {{/each}}
                            </ul>
                            <ul class='list-plain list-large'>
                                <li>
                                    <strong>{{state.overProvisionedRequests}}</strong>
                                    Over Provisioned
                                </li>
                                <li>
                                    <span {{#ifGT state.underProvisionedRequests 0}}class='color-warning'{{/ifGT}}>
                                        <strong>{{state.underProvisionedRequests}}</strong>
                                        Under Provisioned
                                    <span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div>
            <a class='headline-link' href="{{appRoot}}/tasks"><h2>Tasks</h2></a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-sm-3 chart hidden-xs">
                    <div class='chart__column'>
                        {{#each tasks}}
                            <span style='height: {{percent}}%' title="{{count}} {{label}}" class='chart__data-point chart-fill-{{ type }}'></span>
                        {{/each}}
                    </div>
                    <h5 class='text-center'>{{totalTasks}} Total</h5>
                </div>
                <div class="col-md-9 col-sm-9">
                    <div class="row">
                        <div class="col-md-8">


                            <ul class="list-group list-group--links list-group--plain list-group--slim list-large">
                                {{#each tasks}}
                                <li class="list-group-item">
                                    <a class='chart__legend-link {{#unless link}}inactive-link{{/unless}}' {{#if link}}href="{{appRoot}}{{ link }}"{{/if}}>
                                        <span class="chart__legend-fill chart-fill-{{ type }}"></span><span class='chart__label'><span data-state-attribute='{{ attribute }}' class='count'>{{ count }}</span> {{ label }} <span class='percent'>{{#ifGT percent 0}}({{fixedDecimal percent place="0"}}%){{/ifGT}}</span></span>
                                    </a>
                                </li>
                                {{/each}}
                            </ul>
                            <ul class='list-plain list-large'>
                                <li>
                                    Max Task Lag:
                                    <span>
                                        {{timestampDuration state.maxTaskLag}}
                                        {{#ifEqual 0 state.maxTaskLag }}(no lag){{/ifEqual}}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row page-width-normal">
    <div class="col-md-3 col-sm-3">
        <div>
            <h2>Racks</h2>
        </div>
        <ul class="list-group list-group--links list-group--plain list-group--slim list-large">
            <li class='list-group-item'>
                <a href="{{appRoot}}/racks/active">
                    <span data-state-attribute='activeRacks'>{{state.activeRacks}}</span>
                    Active Racks
                </a>
            </li>
            <li class='list-group-item'>
                <a href="{{appRoot}}/racks/decommission">
                    <span data-state-attribute='decomissioningRacks'>{{state.decomissioningRacks}}</span>
                    Decommissioning Racks
                </a>
            </li>
            <li class="list-group-item {{#ifGT state.deadRacks 0}}color-warning{{/ifGT}}">
                <a href="{{appRoot}}/racks/inactive">
                    <span data-state-attribute='deadRacks'>{{state.deadRacks}}</span>
                    Inactive Racks
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-3 col-md-offset-1">
        <div>
            <h2>Slaves</h2>
        </div>
        <ul class="list-group list-group--links list-group--plain list-group--slim list-large">
            <li class="list-group-item">
                <a href="{{appRoot}}/slaves/active">
                    <span data-state-attribute='activeSlaves'>{{state.activeSlaves}} </span>
                    Active Slaves
                </a>
            </li>
            <li class="list-group-item">
                <a href="{{appRoot}}/slaves/decommission">
                    <span data-state-attribute='decomissioningSlaves'>{{state.decomissioningSlaves}} </span>
                    Decommissioning Slaves
                </a>
            </li>
            <li class="list-group-item">
                <a {{#ifGT state.deadSlaves 0}}class='color-warning'{{/ifGT}} href="{{appRoot}}/slaves/inactive">
                    <span data-state-attribute='deadSlaves'>{{state.deadSlaves}} </span>
                    Inactive Slaves
                </a>
            </li>
            <li class="list-group-item">
                <a {{#ifGT state.unknownSlaves 0}}class='color-warning'{{/ifGT}} href="{{appRoot}}/slaves/inactive">
                    <span data-state-attribute='unknownSlaves'>{{state.unknownSlaves}} </span>
                    Unknown Slaves
                </a>
            </span>
            </li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-3 col-md-offset-1">
        <div>
            <h2>Deploys</h2>
        </div>
        <ul class="list-group list-group--links list-group--plain list-group--slim list-large">
            <li class="list-group-item {{#ifLT state.numDeploys 2}}text-muted{{/ifLT}}">
                <strong data-state-attribute='numDeploys'>{{state.numDeploys}}</strong>
                Active Deploys
            </li>
            {{#ifNotEqual state.oldestDeploy 0}}
            <li class="list-group-item">
                <strong>{{timestampDuration state.oldestDeploy}}</strong>
                 since last deploy
            </li>
            {{/ifNotEqual}}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div>
            <h2>Singularity scheduler instances</h2>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Hostname</th>
                    <th>Driver status</th>
                    <th class="hidden-xs">Uptime</th>
                    <th class="hidden-xs">Time since last offer</th>
                </tr>
            </thead>
            <tbody>
                {{#each state.hostStates}}
                <tr>
                    <td>{{ hostname }}</td>
                    <td class='{{#ifEqual driverStatus 'DRIVER_NOT_STARTED'}}text-muted{{/ifEqual}}{{#ifEqual driverStatus 'DRIVER_RUNNING'}}color-success{{/ifEqual}}'>{{humanizeText driverStatus }}
                    </td>
                    <td data-value="{{ uptime }}" class="hidden-xs">
                        {{timestampDuration uptime}}
                    </td>
                    <td data-value="{{ millisSinceLastOffer }}" class="hidden-xs">
                        {{#if millisSinceLastOffer}}
                        {{timestampDuration millisSinceLastOffer}}
                        {{else}}
                        &mdash;
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{else}}
<div class="page-loader centered cushy"></div>
{{/if}}
