{{#if synced}}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Hosts</h2>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Hostname</th>
                        <th>Driver status</th>
                        <th class="hidden-xs">Uptime</th>
                        <th class="hidden-xs">Time since last offer</th>
                    </tr>
                </thead>
                <tbody>
                    {{#eachWithFn state.hostStates}}
                        <tr>
                            <td>{{#hardBreak hostname}}{{/hardBreak}}</td>
                            <td>{{ driverStatusHuman }}</td>
                            <td data-value="{{ uptime }}" class="hidden-xs">{{ uptimeHuman }}</td>
                            <td data-value="{{ millisSinceLastOffer }}" class="hidden-xs">{{ millisSinceLastOfferHuman }}</td>
                        </tr>
                    {{/eachWithFn}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Requests</h2>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <a class="big-number-link" href="{{appRoot}}/requests">
                        <div class="well">
                            <div class="big-number">
                                <div class="number" data-state-attribute="requests">{{ state.allRequests }}</div>
                                <div class="number-label">Total</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a class="big-number-link" href="{{appRoot}}/requests/active">
                        <div class="well">
                            <div class="big-number">
                                <div class="number" data-state-attribute="requests">{{ state.activeRequests }}</div>
                                <div class="number-label">Active</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a class="big-number-link" href="{{appRoot}}/requests/cooldown">
                        <div class="well">
                            <div class="big-number">
                                <div class="number" data-state-attribute="requests">{{ state.cooldownRequests }}</div>
                                <div class="number-label">Cooldown</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a class="big-number-link" href="{{appRoot}}/requests/paused">
                        <div class="well">
                            <div class="big-number">
                                <div class="number" data-state-attribute="pausedRequests">{{ state.pausedRequests }}</div>
                                <div class="number-label">Paused</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a class="big-number-link" href="{{appRoot}}/requests/pending">
                        <div class="well">
                            <div class="big-number">
                                <div class="number" data-state-attribute="pendingRequests">{{ state.pendingRequests }}</div>
                                <div class="number-label">Pending</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a class="big-number-link" href="{{appRoot}}/requests/cleaning">
                        <div class="well">
                            <div class="big-number">
                                <div class="number" data-state-attribute="cleaningRequests">{{ state.cleaningRequests }}</div>
                                <div class="number-label">Cleaning</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Tasks</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a class="big-number-link" href="{{appRoot}}/tasks">
                        <div class="well">
                            <div class="big-number">
                                <div class="number" data-state-attribute="activeTasks">{{ state.activeTasks }}</div>
                                <div class="number-label">Active</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="big-number-link" href="{{appRoot}}/tasks/scheduled">
                        <div class="well">
                            <div class="big-number">
                                <div class="number" data-state-attribute="lateTasks">{{ state.lateTasks }}</div>
                                <div class="number-label">Overdue</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="big-number-link" href="{{appRoot}}/tasks/scheduled">
                        <div class="well">
                            <div class="big-number">
                                <div class="number" data-state-attribute="futureTasks">{{ state.futureTasks }}</div>
                                <div class="number-label">Future</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="big-number-link" href="{{appRoot}}/tasks/cleaning">
                        <div class="well">
                            <div class="big-number">
                                <div class="number" data-state-attribute="cleaningTasks">{{ state.cleaningTasks }}</div>
                                <div class="number-label">Cleaning</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Racks</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a class="big-number-link" href="{{appRoot}}/racks">
                        <div class="well">
                            <div class="big-number">
                                <div class="number" data-state-attribute="activeRacks">{{ state.activeRacks }}</div>
                                <div class="number-label">Active</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="big-number-link" href="{{appRoot}}/racks">
                        <div class="well">
                            <div class="big-number">
                                <div class="number" data-state-attribute="deadRacks">{{ state.deadRacks }}</div>
                                <div class="number-label">Dead</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="big-number-link" href="{{appRoot}}/racks">
                        <div class="well">
                            <div class="big-number">
                                <div class="number" data-state-attribute="decomissioningRacks">{{ state.decomissioningRacks }}</div>
                                <div class="number-label">Decomissioning</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Slaves</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a class="big-number-link" href="{{appRoot}}/slaves">
                        <div class="well">
                            <div class="big-number">
                                <div class="number" data-state-attribute="activeSlaves">{{ state.activeSlaves }}</div>
                                <div class="number-label">Active</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="big-number-link" href="{{appRoot}}/slaves">
                        <div class="well">
                            <div class="big-number">
                                <div class="number" data-state-attribute="deadSlaves">{{ state.deadSlaves }}</div>
                                <div class="number-label">Dead</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="big-number-link" href="{{appRoot}}/slaves">
                        <div class="well">
                            <div class="big-number">
                                <div class="number" data-state-attribute="decomissioningSlaves">{{ state.decomissioningSlaves }}</div>
                                <div class="number-label">Decomissioning</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <div class="page-loader centered cushy"></div>
{{/if}}
