{{#each lines}}
    <div id='line-{{offset}}' class="line" data-offset="{{ offset }}"><a class='copy-link' data-clipboard-text='{{../url}}#{{offset}}'><span class="glyphicon glyphicon-link"></span> </a>{{ data }}</div>
{{/each}}
