<div class="tail-header">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        Request
                        <a id="request-link" href="{{appRoot}}/request/{{ taskHistory.task.taskId.requestId }}">
                            {{ taskHistory.task.taskId.requestId }}
                        </a>
                    </li>
                    <li>
                        Deploy
                        <a id="deploy-link" href="{{appRoot}}/request/{{ taskHistory.task.taskId.requestId }}/deploy/{{ taskHistory.task.taskId.deployId }}">
                            {{ taskHistory.task.taskId.deployId }}
                        </a>
                    </li>
                    <li>
                      Task
                      <a href="{{appRoot}}/task/{{ taskId }}">
                          {{ taskId }}
                      </a>
                    </li>
                </ul>
          </div>
      </div>
        <div class="row">
            <div class="col-md-9">
                <ul class="breadcrumb">
                    {{#each breadcrumbs}}
                        <li>
                            {{#ifEqual name ../filename}}
                                <strong>{{ name }}</strong>
                            {{else}}
                                <a href="{{appRoot}}/task/{{ ../taskId }}/files/{{ path }}">
                                    {{ name }}
                                </a>
                            {{/ifEqual}}
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-md-3 hidden-xs tail-buttons">
                <a class="btn btn-default tail-top-button">
                    To top
                </a>
                <a class="btn btn-default tail-bottom-button">
                    To bottom
                </a>
            </div>
        </div>
    </div>
</div>

<div class="tail-indicator">
    <div class="page-loader centered"></div>
    <span>Tailing</span>
</div>


<div class="tail-contents">
    <div class="tail-fetching-start">
        fetching more lines <div class="page-loader small"></div>
    </div>
    <div class="lines-wrapper">
        {{#if ajaxError.present}}
        <div class="lines-wrapper">
            <div class="empty-table-message">
                <p>{{ajaxError.message}}</p>
            </div>
        </div>
        {{/if}}
    </div>
    <div class="tail-fetching-end">
        fetching more lines <div class="page-loader small"></div>
    </div>
</div>
