{{#if synced}}
    {{#if data.task.taskRequest.deploy.healthcheckUri}}
        <div class="page-header">
            <h2>
                Healthchecks
                <small>
                    <a data-action="expandToggle">
                        {{#if expanded}}
                            collapse
                        {{else}}
                            view
                        {{/if}}
                    </a>
                </small>
            </h2>
        </div>
        <div class='{{#unless expanded}}hide{{/unless}}'>
        <div class="well">
            Beginning on <span class="healthcheck-number">Task running</span>, hit <a class="healthcheck-link" target="_blank" href="http://{{data.task.offer.hostname}}:{{data.ports.[0]}}{{data.task.taskRequest.deploy.healthcheckUri}}">{{data.task.taskRequest.deploy.healthcheckUri}}</a> with a <span class="healthcheck-number">{{#if data.task.taskRequest.deploy.healthcheckTimeoutSeconds}}{{data.task.taskRequest.deploy.healthcheckTimeoutSeconds}}{{else}}{{config.defaultHealthcheckTimeoutSeconds}}{{/if}}</span> second timeout every <span class="healthcheck-number">{{#if data.task.taskRequest.deploy.healthcheckIntervalSeconds}}{{data.task.taskRequest.deploy.healthcheckIntervalSeconds}}{{else}}{{config.defaultHealthcheckIntervalSeconds}}{{/if}}</span> second(s) until <span class="healthcheck-number">HTTP 200</span> is received, <span class="healthcheck-number">{{#if data.task.taskRequest.deploy.deployHealthTimeoutSeconds}}{{data.task.taskRequest.deploy.deployHealthTimeoutSeconds}}{{else}}{{config.defaultDeployHealthTimeoutSeconds}}{{/if}}</span> seconds have elapsed, or <span class="healthcheck-number">{{#if data.task.taskRequest.deploy.healthcheckMaxRetries}}{{data.task.taskRequest.deploy.healthcheckMaxRetries}}{{else}}{{config.defaultHealthcheckMaxRetries}}{{/if}}</span> retries have failed.
        </div>
        {{#ifGT data.healthcheckResults.length 0}}
            <div class="table-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Timestamp</th>
                            <th>Duration</th>
                            <th>Status</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.healthcheckResults}}
                            <tr>
                                <td>
                                   {{timestampFormattedWithSeconds timestamp}}
                                </td>
                                <td>
                                   {{durationMillis}}{{#if durationMillis}}ms{{/if}}
                                </td>
                                <td>
                                    {{#if statusCode}}
                                        {{#ifEqual statusCode 200}}
                                            <span class="label label-success">HTTP {{statusCode}}</span>
                                        {{else}}
                                            <span class="label label-danger">HTTP {{statusCode}}</span>
                                        {{/ifEqual}}
                                    {{else}}
                                        <span class="label label-warning">No Response</span>
                                    {{/if}}
                                </td>
                                <td>
                                    <pre class="healthcheck-message">{{#if errorMessage}}{{errorMessage}}{{else}}{{responseBody}}{{/if}}</pre>
                                </td>
                                <td class="actions-column">
                                    <a data-index="{{@index}}" data-key="healthcheckResults" data-action="viewJsonProperty" title="JSON">
                                        { }
                                    </a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        {{else}}
            <div class="empty-table-message">
                No Healthchecks
            </div>
        {{/ifGT}}
        {{#if data.task.taskRequest.deploy.skipHealthChecksOnDeploy }}
            <div class="empty-table-message">
                Healthchecks are disabled for this deploy
            </div>
        {{/if}}
        </div>
    {{/if}}
{{else}}
    <div class="page-loader centered cushy"></div>
{{/if}}
