<div class="page-header">
    <h2>
        Resource Usage
        <small><a data-action="expandToggle">
            {{#if expanded}}
                collapse
            {{else}}
                view
            {{/if}}
        </a></small>
    </h2>
</div>
<div class="row {{#unless expanded}}hide{{/unless}}">
        <div class='col-md-3'>       
            {{#ifAll data.memRssBytes data.memLimitBytes}}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Memory (rss vs limit)</h3>
                  </div>
                  <div class="panel-body">
                        <div class="progress text-center">
                          <div class="progress-bar progress-bar-success progress-bar-striped text-center" role="progressbar" style="width: {{percentageOf data.memRssBytes data.memLimitBytes}}%;"></div>
                        </div>
                        {{humanizeFileSize data.memRssBytes}} / {{humanizeFileSize data.memLimitBytes}}
                  </div>
                </div>
            {{/ifAll}}
            {{#ifAll data.cpusUserTimeSecs data.cpusSystemTimeSecs }}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">CPU Usage</h3>
                  </div>
                  <div class="panel-body">
                    {{#ifAll data.cpuUsage}}
                        {{#if data.cpuUsageExceeding }}
                            <p> <span class="label label-danger">CPU usage > 110% allocated </span> </p>
                        {{/if}}
                        <div class="progress text-center">
                          <div class="progress-bar progress-bar-success progress-bar-{{data.cpuUsageClassStatus }} progress-bar-striped text-center" role="progressbar" style="width: {{percentageOf data.cpuUsage data.cpusLimit }}%;"></div>
                        </div>
                        {{fixedDecimal data.cpuUsage}} used / {{data.cpusLimit}} allocated CPUs
                    {{else}}
                        <span class='page-loader small inline-left'></span> Calculating...
                    {{/ifAll}}
                  </div>
                </div>
            {{/ifAll}}
        </div>
    <div class='col-md-9'>
        <ul class="list-unstyled horizontal-description-list">
            {{#if data.cpusNrPeriods }}
                <li class='col-md-4'>
                    <div>
                        <h4>CPUs number of periods</h4>
                        <p>{{ data.cpusNrPeriods }}</p>
                    </div>
                </li>
            {{/if}}
            {{#if data.cpusNrThrottled }}
                <li class='col-md-4'>
                    <div>
                        <h4>CPUs number throttled</h4>
                        <p>{{ data.cpusNrThrottled }}</p>
                    </div>
                </li>
            {{/if}}

            {{#if data.cpusThrottledTimeSecs }}
                <li class='col-md-4'>
                    <div>
                        <h4>Throttled time (sec)</h4>
                        <p>{{ data.cpusThrottledTimeSecs }}</p>
                    </div>
                </li>
            {{/if}}
            {{#if data.memAnonBytes }}
                <li class='col-md-4'>
                    <div>
                        <h4>Memory (anon)</h4>
                        <p>{{humanizeFileSize data.memAnonBytes}}</p>
                    </div>
                </li>
            {{/if}}
            {{#if data.memFileBytes }}
                <li class='col-md-4'>
                    <div>
                        <h4>Memory (file)</h4>
                        <p>{{humanizeFileSize data.memFileBytes}}</p>
                    </div>
                </li>
            {{/if}}
            {{#if data.memMappedFileBytes }}
                <li class='col-md-4'>
                    <div>
                        <h4>Memory (mapped file)</h4>
                        <p>{{humanizeFileSize data.memMappedFileBytes}}</p>
                    </div>
                </li>
            {{/if}}
        </ul>
    </div>
</div>
