{{#if data.isStillRunning}}
    {{! If there's a TaskCleanup object associated with this task, display its info }}
    {{#if data.cleanup}}
        <div class="alert alert-warning" role="alert">
            <b>Task is cleaning:</b> {{data.cleanup.message}}
        </div>
    {{else}}
        {{#if data.isCleaning}}
            <div class="alert alert-warning" role="alert">
                <b>Task is terminating:</b> To issue a non-graceful termination (kill -term), click Destroy Task.
            </div>
        {{/if}}
    {{/if}}
{{/if}}

{{! Part of taskBase }}
<header class='detail-header'>
    <div class="row">
        {{! Left side }}
        <div class="col-md-12">
            {{#with data.task.taskRequest}}
                <h5>
                    Request
                    <a href="{{appRoot}}/request/{{ request.id }}">
                        {{ request.id }}
                    </a>
                </h5>
            {{/with}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h3>
                {{ data.task.taskId.id }}
            </h3>
        </div>
        {{! Right side, buttons }}
        <div class="col-md-4 button-container">
            <a class="btn btn-default" data-action="viewObjectJSON">
                JSON
            </a>
            {{#if data.isStillRunning}}
                {{#if data.cleanup}}
                    {{#if data.cleanup.isImmediate}}
                        <a class="btn btn-danger" data-action="remove"> Destroy task </a>
                    {{else}}
                        <a class="btn btn-danger" data-action="remove"> Override cleanup </a>
                    {{/if}}
                {{else}}
                    {{#if data.isCleaning}}
                        <a class="btn btn-danger" data-action="remove"> Destroy task </a>
                    {{else}}
                        <a class="btn btn-danger" data-action="remove"> Kill task </a>
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
    </div>
</header>

{{#if data.taskUpdates}}
    {{#withLast data.taskUpdates}}
        <div class="well text-muted">
            {{humanizeText taskState}} as of
            {{timestampFromNow timestamp}}
            {{#if statusMessage}}
                &mdash; {{ statusMessage }}
            {{/if}}
        </div>
    {{/withLast}}
{{/if}}

{{#if isDeployPending}}
    {{#ifGT data.healthcheckResults.length 0}}
        <div class="well text-muted">
            <h4>Current Healthcheck</h4>
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Timestamp</th>
                            <th>Duration</th>
                            <th>Status</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.healthcheckResults}}
                            {{#ifLT @index 1}}
                                <tr>
                                    <td>
                                       {{timestampFormattedWithSeconds timestamp}}
                                    </td>
                                    <td>
                                       {{durationMillis}}{{#if durationMillis}}ms{{/if}}
                                    </td>
                                    <td>
                                        {{#if statusCode}}
                                            {{#ifEqual statusCode 200}}
                                                <span class="label label-success">HTTP {{statusCode}}</span>
                                            {{else}}
                                                <span class="label label-danger">HTTP {{statusCode}}</span>
                                            {{/ifEqual}}
                                        {{else}}
                                            <span class="label label-warning">No Response</span>
                                        {{/if}}
                                    </td>
                                    <td>
                                        <pre class="healthcheck-message">{{#if errorMessage}}{{errorMessage}}{{else}}{{responseBody}}{{/if}}</pre>
                                    </td>
                                    <td class="actions-column">
                                        <a data-index="{{@index}}" data-key="healthcheckResults" data-action="viewJsonProperty" title="JSON">
                                            { }
                                        </a>
                                    </td>
                                </tr>
                            {{/ifLT}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <a href="#health-checks" data-action="viewHealthchecks">View full healthcheck history</a>
        </div>
    {{/ifGT}}
{{/if}}



