<div class="page-header">
    <h2>History</h2>
</div>
{{#if data.taskUpdates}}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Status
                </th>
                <th>
                    Message
                </th>
                <th>
                    Time
                </th>
            </tr>
        </thead>
        <tbody>
            {{#reverseEach data.taskUpdates}}
                <tr{{#ifCurrentState taskState ../data.taskUpdates}} class="medium-weight"{{/ifCurrentState}}>
                    <td>
                        {{humanizeText taskState}}
                    </td>
                    <td>
                        {{#if statusMessage}}
                            {{ statusMessage }}
                        {{else}}
                            &mdash;
                        {{/if}}
                    </td>
                    <td data-value="{{ timestamp }}">
                        {{timestampFromNow timestamp}}
                    </td>
                </tr>
            {{/reverseEach}}
        </tbody>
    </table>
{{else}}
    <div class="empty-table-message">This task has no history yet</div>
{{/if}}
