{{#if data.isStillRunning}}
    {{! If there's a TaskCleanup object associated with this task, display its info }}
    {{#if data.cleanup}}
        <div class="alert alert-warning" role="alert">
            <b>Task is cleaning:</b> {{ data.cleanup.cleanupType }}
            {{#if data.cleanup.message}}
                ({{ data.cleanup.message }})
            {{/if}}
        </div>
    {{else}}
        {{#if data.isCleaning}}
            <div class="alert alert-warning" role="alert">
                <b>Task is terminating:</b> To issue a non-graceful termination (kill -term), click Destroy Task.
            </div>
        {{/if}}
    {{/if}}
{{/if}}

{{! Part of taskBase }}
<header class='detail-header'>
    <div class="row">
        {{! Left side }}
        <div class="col-md-10">
            {{#with data.task}}
                <div style='font-weight: 500;'>
                <ul class="breadcrumb">
                    <li>
                        Request
                        <a href="{{appRoot}}/request/{{ taskRequest.request.id }}">
                            {{ taskRequest.request.id }}
                        </a>
                    </li>
                    <li>
                        Deploy
                        <a href="{{appRoot}}/request/{{ taskRequest.request.id }}/deploy/{{ taskRequest.deploy.id }}">
                            {{ taskRequest.deploy.id }}
                        </a>
                    </li>
                    <li>
                        Instance {{ taskId.instanceNo }}
                    </li>
                </ul>
                </div>
            {{/with}}
        </div>
        <div class="col-md-2 button-container">
            <a class="btn btn-default" data-action="viewObjectJSON">
                JSON
            </a>
            {{#if data.isStillRunning}}
                {{#if data.cleanup}}
                    {{#if data.cleanup.isImmediate}}
                        <a class="btn btn-danger" data-action="remove"> Destroy task </a>
                    {{else}}
                        <a class="btn btn-danger" data-action="remove"> Override cleanup </a>
                    {{/if}}
                {{else}}
                    {{#if data.isCleaning}}
                        <a class="btn btn-danger" data-action="remove"> Destroy task </a>
                    {{else}}
                        <a class="btn btn-danger" data-action="remove"> Kill task </a>
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
    </div>
</header>

{{#if data.taskUpdates}}
    <div class="well text-muted">
        {{#withLast data.taskUpdates}}
            <span class="label label-{{getLabelClass taskState}}">{{humanizeText taskState}}</span>
            as of
            {{timestampFromNow timestamp}}
            <span style="float: right;">
                {{ ../data.task.offer.hostname }}
            </span>
            {{#if statusMessage}}
                <br />{{ statusMessage }}
            {{/if}}
        {{/withLast}}
    </div>
{{/if}}
