{{! Part of taskBase }}
<header class='detail-header'>
    <div class="row">
        {{! Left side }}
        <div class="col-md-8">
            {{#with data.task.taskRequest}}
                <h5>
                    Request
                    <a href="{{appRoot}}/request/{{ request.id }}">
                        {{ request.id }}
                    </a>
                </h5>
            {{/with}}
            <h3>
                {{#if data.decommissioning }}
                    <span class='label label-warning'>DECOMMISSIONING</span>
                {{/if}}
                {{ data.task.taskId.id }}
            </h3>
        </div>

        {{! Right side, buttons }}
        <div class="col-md-4 button-container">
            <a class="btn btn-default" data-action="viewObjectJSON">
                JSON
            </a>

            {{#if data.isStillRunning}}
                <a class="btn btn-danger" data-action="remove">
                Kill task
                </a>
            {{/if}}
        </div>
    </div>
</header>

{{#if data.taskUpdates}}
    {{#withLast data.taskUpdates}}
        <div class="well text-muted">
            {{humanizeText taskState}} as of
            {{timestampFromNow timestamp}}
            {{#if statusMessage}}
                &mdash; {{ statusMessage }}
            {{/if}}
        </div>
    {{/withLast}}
{{/if}}
