<div class="page-header">
    <h2>
        Logs
    </h2>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>
      {{#if data.isStillRunning}}
          <a href="{{ appRoot }}/request/{{ data.task.taskId.requestId }}/tail/{{ config.runningTaskLogPath }}/?taskIds={{ data.taskId }}" title="Log">
              <span class="glyphicon glyphicon-file"></span> {{{filename config.runningTaskLogPath}}}
          </a>
      {{else}}
          <a href="{{ appRoot }}/request/{{ data.task.taskId.requestId }}/tail/{{ config.finishedTaskLogPath }}/?taskIds={{ data.taskId }}" title="Log">
              <span class="glyphicon glyphicon-file"></span> {{{filename config.finishedTaskLogPath}}}
          </a>
      {{/if}}
    </h4>
  </div>
</div>
