{{#if data.decommissioning}}
    {{#if data.isStillRunning}}
        <div class="alert alert-warning" role="alert">This task is running on a decommissioning host and will be replaced soon</div>
    {{/if}}
{{/if}}
{{! Part of taskBase }}
<header class='detail-header'>
    <div class="row">
        {{! Left side }}
        <div class="col-md-12">
            {{#with data.task.taskRequest}}
                <h5>
                    Request
                    <a href="{{appRoot}}/request/{{ request.id }}">
                        {{ request.id }}
                    </a>

                </h5>
            {{/with}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h3>
                {{ data.task.taskId.id }}
            </h3>
        </div>
        {{! Right side, buttons }}
        <div class="col-md-4 button-container">
            <a class="btn btn-default" data-action="viewObjectJSON">
                JSON
            </a>

            {{#if data.isStillRunning}}
                <a class="btn btn-danger" data-action="remove">
                Kill task
                </a>
            {{/if}}
        </div>
    </div>

</header>

{{#if data.taskUpdates}}
    {{#withLast data.taskUpdates}}
        <div class="well text-muted">
            {{humanizeText taskState}} as of
            {{timestampFromNow timestamp}}
            {{#if statusMessage}}
                &mdash; {{ statusMessage }}
            {{/if}}
        </div>
    {{/withLast}}
{{/if}}
