{{#if data.isStillRunning}}
    {{! If there's a TaskCleanup object associated with this task, display its info }}
    {{#if data.cleanup}}
        <div class="alert alert-warning" role="alert">
            <b>Task is cleaning:</b> {{data.cleanup.message}}
        </div>
    {{else}}
        {{#if data.isCleaning}}
            <div class="alert alert-warning" role="alert">
                <b>Task is terminating:</b> To issue a non-graceful termination (kill -term), click Destroy Task.
            </div>
        {{/if}}
    {{/if}}
{{/if}}

{{! Part of taskBase }}
<header class='detail-header'>
    <div class="row">
        {{! Left side }}
        <div class="col-md-12">
            {{#with data.task.taskRequest}}
                <ul class="breadcrumb">
                    <li>
                        Request
                        <a href="{{appRoot}}/request/{{ request.id }}">
                            {{ request.id }}
                        </a>
                    </li>
                    <li>
                        Deploy
                        <a href="{{appRoot}}/request/{{ request.id }}/deploy/{{ deploy.id }}">
                            {{ deploy.id }}
                        </a>
                    </li>
                </ul>
            {{/with}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h3>
                {{ data.task.taskId.id }}
            </h3>
        </div>
        {{! Right side, buttons }}
        <div class="col-md-4 button-container">
            <a class="btn btn-default" data-action="viewObjectJSON">
                JSON
            </a>
            {{#if data.isStillRunning}}
                {{#if data.cleanup}}
                    {{#if data.cleanup.isImmediate}}
                        <a class="btn btn-danger" data-action="remove"> Destroy task </a>
                    {{else}}
                        <a class="btn btn-danger" data-action="remove"> Override cleanup </a>
                    {{/if}}
                {{else}}
                    {{#if data.isCleaning}}
                        <a class="btn btn-danger" data-action="remove"> Destroy task </a>
                    {{else}}
                        <a class="btn btn-danger" data-action="remove"> Kill task </a>
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
    </div>
</header>

{{#if data.taskUpdates}}
    {{#withLast data.taskUpdates}}
        <div class="well text-muted">
            {{humanizeText taskState}} as of
            {{timestampFromNow timestamp}}
            {{#if statusMessage}}
                &mdash; {{ statusMessage }}
            {{/if}}
        </div>
    {{/withLast}}
{{/if}}
