{{#if synced}}
    <div class="page-header">
        <h2>S3 Logs</h2>
    </div>
    {{#if data.length}}
        <div class="table-container">
            <table class="table table-striped paginated">
                <thead>
                    <tr>
                        <th class="half-table">Log file</th>
                        <th>Size</th>
                        <th>Last modified</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                        <tr>
                            <td>
                                <a class="long-link" href="{{ getUrl }}" target="_blank" title="{{ key }}">
                                    {{ trimS3File shortKey }}
                                </a>
                            </td>
                            <td>
                                {{humanizeFileSize size}}
                            </td>
                            <td data-value="{{ lastModified }}">
                                {{timestampFormatted lastModified}}
                            </td>
                            <td class="actions-column">
                                <a href="{{ getUrl }}" target="_blank" title="Download">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{else}}
        <div class="empty-table-message">
            No S3 logs
        </div>
    {{/if}}
{{else}}
    <div class="page-loader centered cushy"></div>
{{/if}}
