<div class="page-header">
    <h2>
        Resource Usage
        <small><a data-action="expandToggle">
            {{#if expanded}}
                collapse
            {{else}}
                view
            {{/if}}
        </a></small>
    </h2>
</div>
<div class="row {{#unless expanded}}hide{{/unless}}">
    {{#ifAll data.memRssBytes data.memLimitBytes}}
        <div class='col-md-3'>
            <div>
                <h4>Memory (rss vs limit)</h4>
                <div class="progress text-center">
                  <div class="progress-bar progress-bar-success progress-bar-striped text-center" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{percentageOf data.memLimitBytes data.memRssBytes}}%;"></div>
                </div>
                {{humanizeFileSize data.memRssBytes}} / {{humanizeFileSize data.memLimitBytes}}
            </div>
        </div>
    {{/ifAll}}
    <div class='col-md-9'>
        <ul class="list-unstyled horizontal-description-list">
            {{#if data.cpusNrPeriods }}
                <li class='col-md-4'>
                    <div>
                        <h4>CPUs number of periods</h4>
                        <p>{{ data.cpusNrPeriods }}</p>
                    </div>
                </li>
            {{/if}}
            {{#if data.cpusNrThrottled }}
                <li class='col-md-4'>
                    <div>
                        <h4>CPUs number throttled</h4>
                        <p>{{ data.cpusNrThrottled }}</p>
                    </div>
                </li>
            {{/if}}
            {{#if data.cpusSystemTimeSecs }}
                <li class='col-md-4'>
                    <div>
                        <h4>System time (sec)</h4>
                        <p>{{ data.cpusSystemTimeSecs }}</p>
                    </div>
                </li>
            {{/if}}
            {{#if data.cpusThrottledTimeSecs }}
                <li class='col-md-4'>
                    <div>
                        <h4>Throttled time (sec)</h4>
                        <p>{{ data.cpusThrottledTimeSecs }}</p>
                    </div>
                </li>
            {{/if}}
            {{#if data.cpusUserTimeSecs }}
                <li class='col-md-4'>
                    <div>
                        <h4>User time (sec)</h4>
                        <p>{{ data.cpusUserTimeSecs }}</p>
                    </div>
                </li>
            {{/if}}
            {{#if data.memAnonBytes }}
                <li class='col-md-4'>
                    <div>
                        <h4>Memory (anon)</h4>
                        <p>{{humanizeFileSize data.memAnonBytes}}</p>
                    </div>
                </li>
            {{/if}}
            {{#if data.memFileBytes }}
                <li class='col-md-4'>
                    <div>
                        <h4>Memory (file)</h4>
                        <p>{{humanizeFileSize data.memFileBytes}}</p>
                    </div>
                </li>
            {{/if}}
            {{#if data.memMappedFileBytes }}
                <li class='col-md-4'>
                    <div>
                        <h4>Memory (mapped file)</h4>
                        <p>{{humanizeFileSize data.memMappedFileBytes}}</p>
                    </div>
                </li>
            {{/if}}
        </ul>
    </div>
</div>
