<div class="page-header">
    <h2>Info</h2>
</div>

<div class="row">
    <ul class="list-unstyled horizontal-description-list">
        {{#if data.task.taskId.id }}
            <li class="col-md-4">
                <div>
                    <h4>Task ID</h4>
                    <p>{{ data.task.taskId.id }}</p>
                </div>
            </li>
        {{/if}}
        {{#if data.directory }}
            <li class="col-md-4">
                <div>
                    <h4>Directory</h4>
                    <p>{{ data.directory }}</p>
                </div>
            </li>
        {{/if}}
        {{#if data.task.mesosTask.executor.executorId.value }}
            <li class="col-md-4">
                <div>
                    <h4>Executor GUID</h4>
                    <p>{{ data.task.mesosTask.executor.executorId.value }}</p>
                </div>
            </li>
        {{/if}}
        {{#if data.task.offer.hostname }}
            <li class="col-md-4">
                <div>
                    <h4>Hostname</h4>
                    <p>{{ data.task.offer.hostname }}</p>
                </div>
            </li>
        {{/if}}
        {{#if data.ports }}
            <li class="col-md-4">
                <div>
                    <h4>Ports</h4>
                    <p>{{ data.ports }}</p>
                </div>
            </li>
        {{/if}}
        {{#if data.task.taskRequest.deploy.executorData.extraCmdLineArgs}}
            <li class="col-md-4">
                <div>
                    <h4>Extra Cmd Line Arguments (from Deploy)</h4>
                    <p>{{ data.task.taskRequest.deploy.executorData.extraCmdLineArgs }}</p>
                </div>
            </li>
        {{/if}}
        {{#if data.task.taskRequest.pendingTask.cmdLineArgsList }}
            <li class="col-md-4">
                <div>
                    <h4>Extra Cmd Line Arguments (from Task)</h4>
                    <p>{{ data.task.taskRequest.pendingTask.cmdLineArgsList }}</p>
                </div>
            </li>
        {{/if}}
    </ul>
</div>
