{{#unless rowsOnly}}
    {{#if haveRequests}}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-sort-attribute="requestId">
                        ID
                    </th>
                    <th data-sort-attribute="pendingType">
                        Pending Type
                    </th>
                </tr>
            </thead>
            <tbody>
    {{/if}}
{{/unless}}
                {{#each requests}}
                    <tr data-request-id="{{ requestId }}">
                        <td>{{ requestId }}</td>
                        <td>{{humanizeText pendingType}}</td>
                    </tr>
                {{/each}}
{{#unless rowsOnly}}
    {{#if haveRequests}}
            </tbody>
        </table>
    {{else}}
        {{#if collectionSynced}}
            <div class="empty-table-message"><p>No pending requests</p></div>
        {{else}}
            <div class="page-loader centered cushy"></div>
        {{/if}}
    {{/if}}
{{/unless}}
