{{#unless rowsOnly}}
    {{#if haveRequests}}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-sort-attribute="request.id">
                        Name
                    </th>
                    <th data-sort-attribute="request.requestType">
                        Type
                    </th>
                    <th data-sort-attribute="requestDeployState.activeDeploy.timestamp" class="hidden-xs">
                        Requested
                    </th>
                    <th data-sort-attribute="requestDeployState.activeDeploy.user" class="hidden-sm hidden-xs">
                        Deploy user
                    </th>
                    <th data-sort-attribute="request.instances" class="hidden-sm hidden-xs">
                        Instances
                    </th>

                    {{#ifInSubFilter 'scheduled' requestsSubFilter}}
                        <th data-sort-attribute="request.schedule" class="visible-lg visible-xl">
                            Schedule
                        </th>
                    {{/ifInSubFilter}}

                    <th class="hidden-xs">
                        {{! Actions column }}
                    </th>
                </tr>
            </thead>
            <tbody>
    {{/if}}
{{/unless}}
                {{#each requests}}
                    <tr data-request-id="{{ request.id }}">
                        <td>
                            <a href="{{appRoot}}/request/{{ request.id }}" title={{ request.id }}>
                                {{ request.id }}
                            </a>
                        </span></td>
                        <td>
                            {{humanizeText request.requestType}}
                        </td>
                        <td data-value="{{ requestDeployState.activeDeploy.timestamp }}" class="hidden-xs">
                            {{timestampFromNow requestDeployState.activeDeploy.timestamp}}
                        </td>
                        <td class="hidden-sm hidden-xs">
                            {{usernameFromEmail requestDeployState.activeDeploy.user}}
                        </td>
                        <td class="hidden-sm hidden-xs">
                            {{ request.instances }}
                        </td>

                        {{#ifInSubFilter 'scheduled' ../requestsSubFilter}}
                            <td class="visible-lg visible-xl">
                                {{ request.schedule }}
                            </td>
                        {{/ifInSubFilter}}

                        <td class="actions-column hidden-xs">
                            {{#if canBeRunNow}}
                                <a data-request-id="{{ request.id }}" data-request-type="{{#if scheduled}}scheduled{{else}}on-demand{{/if}}" data-action="run-now" title="Run now">
                                    <span class="glyphicon glyphicon-flash"></span>
                                </a>
                            {{/if}}
                            <a data-request-id="{{ request.id }}" data-action="remove" title="Remove">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                            <a data-request-id="{{ request.id }}" data-action="viewJSON" title="JSON">
                                { }
                            </a>
                        </td>
                    </tr>
                {{/each}}
{{#unless rowsOnly}}
    {{#if haveRequests}}
            </tbody>
        </table>
    {{else}}
        {{#if collectionSynced}}
            <div class="empty-table-message"><p>No requests on cooldown</p></div>
        {{else}}
            <div class="page-loader centered"></div>
        {{/if}}
    {{/if}}
{{/unless}}
