{{#unless rowsOnly}}
    {{#if haveRequests}}
        <table class="table table-striped sortable-theme-bootstrap" data-sortable>
            <thead>
                <tr>
                    <th>
                        {{! Star column }}
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        State
                    </th>
                    <th class="visible-lg visible-xl">
                        Instances
                    </th>
                    <th class="visible-lg visible-xl">
                        Deploy ID
                    </th>
                    <th class="visible-lg visible-xl">
                        Deploy user
                    </th>
                    <th class="hidden-xs">
                        Deploy time
                    </th>

                    {{#ifInSubFilter 'SCHEDULED' requestsSubFilter}}
                        <th class="visible-lg visible-xl schedule-header">
                            <span id="schedule">
                                Schedule <span class="glyphicon glyphicon-question-sign"/>
                            </span>
                        </th>

                    {{/ifInSubFilter}}

                    <th class="hidden-xs">
                        {{! Actions column }}
                    </th>
                </tr>
            </thead>
            <tbody>
    {{/if}}
{{/unless}}
                {{#each requests}}
                    <tr data-request-id="{{ request.id }}">
                        <td data-value="{{ starred }}"=>
                            <a class="star" data-action="starToggle" data-starred="{{ starred }}">
                                <span class="glyphicon glyphicon-star"></span>
                            </a>
                        </td>
                        <td class='keep-in-check'>
                            <a title="{{ request.id }}" href="{{appRoot}}/request/{{ request.id }}">
                                {{ request.id }}
                            </a>
                        </td>
                        <td>
                            {{humanizeText request.requestType}}
                        </td>
                        <td>
                            {{humanizeText state}}
                        </td>
                        <td class="visible-lg visible-xl centered">
                            {{ request.instances }}
                        </td>
                        <td class="visible-lg visible-xl">
                            {{ requestDeployState.activeDeploy.deployId }}
                        </td>
                        <td class="visible-lg visible-xl">
                            {{usernameFromEmail requestDeployState.activeDeploy.user }}
                        </td>
                        <td class="hidden-xs">
                            {{timestampFromNow requestDeployState.activeDeploy.timestamp}}
                        </td>

                        {{#ifInSubFilter 'SCHEDULED' ../requestsSubFilter}}
                            <td class="visible-lg visible-xl">
                                {{#if request.quartzSchedule}}
                                    {{ request.quartzSchedule }}
                                {{else}}
                                    {{#ifEqual request.scheduleType "quartz"}}
                                        {{ request.schedule }}
                                    {{else}}
                                        {{ request.schedule }} {{ request.scheduleType }}
                                    {{/ifEqual}}
                                {{/if}}
                            </td>
                        {{/ifInSubFilter}}

                        <td class="actions-column hidden-xs">
                            {{#ifEqual state "PAUSED"}}
                                <a data-request-id="{{ request.id }}" data-action="unpause" title="Unpause">
                                    <span class="glyphicon glyphicon-play"></span>
                                </a>
                            {{/ifEqual}}
                            {{#if canBeRunNow}}
                                <a data-request-id="{{ request.id }}" data-request-type="{{ type }}" data-action="run-now" title="Run now">
                                    <span class="glyphicon glyphicon-flash"></span>
                                </a>
                            {{/if}}
                            {{log .}}
                            {{#if canBeScaled}}
                                <a data-request-id="{{ request.id }}" data-action="scale" title="Scale">
                                    <span class="glyphicon glyphicon-signal"></span>
                                </a>
                            {{/if}}
                            <a data-request-id="{{ request.id }}" data-action="remove" title="Remove">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                            <a data-request-id="{{ request.id }}" data-action="viewJSON" title="JSON">
                                { }
                            </a>
                            {{#unless config.hideNewRequestButton}}
                                <a href="{{appRoot}}/requests/edit/{{request.id}}" title="Edit">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            {{/unless}}
                        </td>
                    </tr>
                {{/each}}
{{#unless rowsOnly}}
    {{#if haveRequests}}
            </tbody>
        </table>
    {{else}}
        {{#if collectionSynced}}
            <div class="empty-table-message"><p>No requests</p></div>
        {{else}}
            <div class="page-loader centered cushy"></div>
        {{/if}}
    {{/if}}
{{/unless}}
