{{#unless rowsOnly}}
    {{#if haveRequests}}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-sort-attribute="requestId">
                        ID
                    </th>
                    <th class="visible-md" data-sort-attribute="user">
                        User
                    </th>
                    <th class="hidden-xs" data-sort-attribute="timestamp">
                        Timestamp
                    </th>
                    <th class="visible-md" data-sort-attribute="cleanupType">
                        Cleaning Type
                    </th>
                </tr>
            </thead>
            <tbody>
    {{/if}}
{{/unless}}
            {{#each requests}}
                <tr data-request-id="{{ requestId }}">
                    <td>
                        {{ requestId }}
                    </td>
                    <td class="visible-md">
                        {{ user }}
                    </td>
                    <td class="hidden-xs" data-value="{{ timestamp }}">
                        {{timestampFromNow timestamp}}
                    </td>
                    <td class="visible-md">
                        {{humanizeText cleanupType}}
                    </td>
                </tr>
            {{/each}}
{{#unless rowsOnly}}
    {{#if haveRequests}}
            </tbody>
        </table>
    {{else}}
        {{#if collectionSynced}}
            <div class="empty-table-message"><p>No cleaning requests</p></div>
        {{else}}
            <div class="page-loader centered cushy"></div>
        {{/if}}
    {{/if}}
{{/unless}}
