<div class="well well-sm docker-port">
    <h5>Docker Port Mapping</h5>
    <div class="remove-button"></div>

    <div class="form-group required">
        <label for="cont-port-type-{{ timestamp }}">Container Port Type</label>
        <select id="cont-port-type-{{ timestamp }}" class='cont-port-type form-control'>
            <option value="LITERAL">Literal</option>
            <option value="FROM_OFFER">From Offer</option>
        </select>
    </div>

    <div class="form-group required">
        <label for="cont-port-{{ timestamp }}">Container Port</label>
        <input type="text" id="cont-port-{{ timestamp }}" class="cont-port form-control">
    </div>

    <div class="form-group required">
        <label for="host-port-type-{{ timestamp }}">Host Port Type</label>
        <select id="host-port-type-{{ timestamp }}" class='host-port-type form-control'>
            <option value="LITERAL">Literal</option>
            <option value="FROM_OFFER">From Offer</option>
        </select>
    </div>

    <div class="form-group required">
        <label for="host-port-{{ timestamp }}">Container Port</label>
        <input type="text" id="host-port-{{ timestamp }}" class="host-port form-control">
    </div>

    <div class="form-group">
        <label for="protocal-{{ timestamp }}">Protocol</label>
        <input type="text" id="protocol-{{ timestamp }}" class="protocol form-control" placeholder="default: tcp">
    </div>
</div>
