<div class="well well-sm docker-volume">
    <h5>Docker Volume</h5>
    <div class="remove-button"></div>

    <div class="form-group required">
        <label for="cont-path-{{ timestamp }}">Container Path</label>
        <input type="text" id="cont-path-{{ timestamp }}" class="cont-path form-control">
    </div>

    <div class="form-group required">
        <label for="host-path-{{ timestamp }}">Host Path</label>
        <input type="text" id="host-path-{{ timestamp }}" class="host-path form-control">
    </div>

    <div class="form-group required">
        <label for="volume-mode-{{ timestamp }}">Volume Mode</label>
        <select id="volume-mode-{{ timestamp }}" class='volume-mode form-control'>
            <option value="RO">RO</option>
            <option value="RW">RW</option>
        </select>
    </div>
</div>
